body.page-about #content {
  // Layout. This page overrides Zen Grids.
  padding: 0;
  margin: 0;
  width: auto;
  max-width: none;

  .pane-title,
  .panel-pane .pane-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#about-badcamp {
  // Main About header
  .about-header {
    background: black;
    @extend %center-styled-pane-title;
    .pane-title {
      color: #7EBFD6;
      padding-top: 24px;
      padding-bottom: 24px;
      border-bottom: none;
    }
    p {
      margin: 0;
      padding-bottom: 24px;
      color: white;
      font-size: 18px;
    };
  }
  .four-image-promo {
    display: block;
    height: 0;
    padding-bottom: 21%;
    margin-bottom: 12px;
    background: black url('../images/about1.jpg') no-repeat top center;
    background-size: 100% auto;
    @extend .pane-full-width-content;
  }

  // pane-venue-location Images
  .three-image-promo {
    display: block;
    height: 0;
    padding-bottom: 22%;
    background: url('../images/about2.jpg') no-repeat top center;
    background-size: 100% auto;
    @extend .pane-full-width-content;
    // @media screen and (min-width: 1500px) {
    //  background-size: 100%;
    //  height: auto;
    // }
  }

  // Featured attendees.
  .pane-attendees-panel-pane-2 {
    background: black;
    color: white;
    @extend %center-styled-pane-title;

    .pane-title {
      color: #7EBFD6;
      margin: 0 auto 24px;
    }
  }

  .about-facts {
    background: #343434 url(../images/bg-facts.jpg) no-repeat bottom center;
    padding-bottom: 3em;
    @extend %center-styled-pane-title;

    .pane-title {
      color: #7EBFD6;
      margin: 24px auto;
    }

    .pane-content {
      @include clearfix();
    }

    .fact-one,
    .fact-two,
    .fact-three {
      color: #FFF;
      text-align: center;
      padding-top: 24px;
      font-size: 20px;

      h3 {
        font-size: 110px;
        line-height: 1em;
        color: #FFF;
      }
      p {
        margin: 0 auto;
        max-width: 240px;
      }
    }

    .fact-one:before {
      content: "Connect";
    }
    .fact-two:before {
      content: "Learn";
    }
    .fact-three:before {
      content: "Inspire";
    }

    @media screen and (min-width: 768px) {
      .fact-one,
      .fact-two,
      .fact-three {
        width: 33.33333%;
        float: left;
        padding-top: 0;
      }
    }

    @media screen and (min-width: 1500px) {
      background-size: 100%;
    }
  }
}
