//
// Header design elements 
//

/* Header  */
#header {
  background: #E4E3FF url('../images/bg-header-sanfrancisco-v1.jpg') no-repeat bottom center;
  padding: 0;
  max-width: 100%;

  .header-innner {
    max-width: 1200px;
    margin: 0 auto;
  }

}

/* User Menu / Login */
#usermenu {
  // display: none; // temp

  background: #000;
  color: #FFF;

  &:after {
    @extend %clearfix-after;
  }

  #block-user-login {
    width: 50%;
    float: right;
  }
}

// User login: what you see at the top of the site 
#user-login-form {
  .first-name, .form-item-name, .form-item-pass-pass1 { 
    float: none;
  }
}





#logo {
  display: inline-block;

  img {
    max-width: 85px;

    @media all and (min-width: 700px) {
      max-width: 100px;
    }
  }
}


#logo-name-and-slogan {
  @media all and (min-width: 700px) {
    max-width: 50%;
    padding-right: 1em;
    float: left;
    
    #logo {
      float: left;
      min-height: 220px;
      margin-right: 1em;
    }

    .name-and-slogan {
    }

 
    h1 {
      font-size: 4em;
      line-height: 1em;
      letter-spacing: -1px;
    }

    h2 {
      margin-top: 1em;
      font-weight: normal;
      line-height: 1.33em;
      border: none;
    }

  }
}


// Header Sub-Menu
#block-menu-block-1 {
  float: right;
  .block-title {
    font-size: 1em;
    line-height: 52px;
    border-bottom: 4px solid #000;
    color: rgb(38, 166, 222);
  }
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid #000;
      &.last {
        border-bottom: 0;
      }
    }
    a {
      line-height: 42px;
      display: block;
      text-decoration: none;
    }
  }
}

