//
// Header design elements 
//

/* Header  */
#header {
  background: #E4E3FF url('../images/bg-header-sanfrancisco-v1.jpg') no-repeat bottom center;
  padding: 0;
  max-width: 100%;
  @media all and (min-width: 1960px) {
      background-size: 100%;
  }

  .header-innner {
    max-width: 1200px;
    margin: 0 auto;
  }

}

// User Menu
#usermenu {

  @include zen-grid-container();

  font-size: 1em;
  background: $dark;
  color: #FFF;
  padding-top: .5em;

  height: 10px;
  overflow: hidden;

  &:after {
    // this is the fakey button which triggers the whole shebang to move
       
    // eric put this here, i'm gonna leave it just in case
    // @extend %clearfix-after;
  }

  h2 {
    color: #fff;
    font-size: 1.2em;
  }
  
  .form-item {
    border: none;
  }
  
  input {
    width: 100%;
    
    &.form-submit {
      width: auto;
    }
  }

  #block-user-login {
      
    .form-submit {
      border: none;
      background: #888;
      color: #fff;
      padding: .33em .5em;
    }
  }
  
  label {
    display: none;
  }
  // reset the login block styles

  #block-user-login {
    width: 100%;
    float: none;
  }

  .form-item {
    //display: inline-block;
  }

  // we don't show the create new account link -- you can only create accounts
  // through the registration interface.
  .item-list {
    display: none;
  }
  
  #edit-actions {
    margin: 0;
  }
    
  @media all and (min-width: 600px) and (max-width: 960px) {
    $zen-column-count: 2;
    
    &.usermenu-visible {
      height: 300px;
      overflow: hidden;
    }
    
    #block-block-3 {
      @include zen-grid-item(1,1);
    }
    
    #block-user-login {
      @include zen-grid-item(1,2);
    }
  }
  
  
  
  @media all and (min-width: 960px) {
    $zen-column-count: 5;

    &.usermenu-visible{
      height: 270px;
    }
    
    #block-block-3 {
      @include zen-grid-item(2,2);
    }
    
    #block-user-login {
      @include zen-grid-item(2,4);
    }
  }
}


.region-usermenu {
  max-width: 1200px;
  margin: auto;
}


// User login: what you see at the top of the site 
#user-login-form {
  .first-name, .form-item-name, .form-item-pass-pass1 { 
    float: none;
  }
}





#logo {
  display: inline-block;

  img {
    max-width: 55px;

    @media all and (min-width: 700px) {
      max-width: 100px;
    }
  }
}


#logo-name-and-slogan {
  h2 {
    font-weight: bold;
    color: #333;
  }


  @media all and (max-width: 700px) {
  
    margin: 0 10px;

    #logo {
      float: left;
      padding-right: 5px;
    }
    
    h1 {
      letter-spacing: -1px;
      font-size: 2em;
      line-height: 1em;
    }
  }  

  @media all and (min-width: 700px) {
    max-width: 50%;
    padding-right: 1em;
    float: left;
    
    #logo {
      float: left;
      min-height: 220px;
      margin-right: 1em;
    }

    .name-and-slogan {
    }

 
    h1 {
      font-size: 4em;
      line-height: 1em;
      letter-spacing: -1px;
    }

    h2 {
      margin-top: 1em;
      font-weight: normal;
      line-height: 1.33em;
      border: none;
    }

  }
}

// Header Sub-Menu
#block-block-2 {
  width: 50%;
  float: left;
  margin: 5px 0 0 0;
  .block-title {
    font-size: 1em;
    line-height: 30px;
    border-bottom: 0;
  }
  h2 {
    color: #000;
  }
  p {
    margin-top: 0;
    margin-bottom: 1em;
    color: #666;
    
    @media all and (max-width: 700px) {
      display: none;
    }
  }
}

#block-menu-block-1 {
  width: 50%;
  float: left;
  margin-bottom: 0;
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      width: 32%;
      margin-right: 5px;
      float: left;
      list-style: none;
    }
    a {
      background-image: url('../images/corner-arrow.png');
      background-repeat: no-repeat;
      background-position: top right;
      background-color: rgba(110, 110, 110, 0.8);
      font-weight: bold;
      color: rgb(244, 245, 150);
      line-height: 42px;
      padding: 3px 0 0 10px;
      display: block;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
    }
		a:hover{
			background-color:#000;
		}
  }
}

