//
// Homepage styles
//


.front {

  #content {
    @include zen-grid-container();
    $zen-column-count: 4;
    // $zen-gutter-width: 10px;

    p{
      color:#ccc;
    }
  }


  /* Highlighst and Facts panes */

  .pane-facts {
    @media all and (min-width: 600px) {
      p{
        min-height: 100px;
      }
      .pane-content > div {
        float: left;
        width: 33%;
        padding:0 20px;
        height: 150px;
        overflow: hidden;
        border-right:solid 1px #797878;
      }
    }

    div .fact-one {
      padding-top: 24px;
      padding-left: 0;
    }
    div .fact-two  {
      padding-top: 24px;
    }
    div .fact-three {
      padding-top: 24px;
      border-right: 0;
    }
    h3 {
      font-size: 50px;
      color:#fff;

      @media all and (max-width: 600px) {
        font-size: 2em;
      }

      line-height: 1em;
      margin: 0;
    }

    p {
      font-size: 18px;
      margin: 0;

      color:#fff;
    }

  }

  // big viewport
  @media all and (min-width: 900px) {
    .pane-highlights {
      @include zen-grid-item(2, 1);
      padding-right: 10px; // for the little gap-toothed look from the comp :)
    }

    .pane-facts {
      @include zen-grid-item(2, 3);
      padding-left: 30px;
    }

    .pane-speakers-panel-pane-1 {
      @include zen-clear();
    }
  }

  /* Top left custom pane */
  .pane-highlights {

    .pane-content{
      background: black url(/sites/all/themes/campsite/images/badcamp-featured-events.jpg) no-repeat left bottom;
      min-height: 200px;

      p {
        color:white;
      }

      .eventhighlights {
        width: 50%;
        margin: 0 0 0 40%;
        @media all and (max-width: 600px) {
          width: 100%;
          margin: 0 0 0 0;
        }

        padding: 15px;
        background: url(../images/background-transparent-blue.png) repeat;
        min-height: 240px;

        a {
          color:white;
          text-decoration:underline;
        }
        .large{
          font-size:215%;
          color:white;
          font-weight:bold;
          float:left;
          line-height:40px;
          padding-bottom:10px;
        }
      }
    }
  }

  /* Featured Attendees pane */

  .pane-attendees-panel-pane-2{
    clear:both;
    padding-top:40px;
  }

  .pane-speakers-panel-pane-1{
    padding-top:10px;
  }

  .view-id-speakers {
    .views-row {
      float: left;
    }
    a.attendee-username {
      color: #7EC0D6;
    }
  }

/* Event highlight */

#content .highlight-text p {
   color:#fff;
   padding:0;
   margin:0;
}

  .highlight-photo {
    background: url(../images/featured.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 200px;
  }

  .highlight-text{
    // margin-left: 294px;
    float: right;
    width: 50%;
    padding:10px;
    color:#fff;
    h3{
      color:#fff;
    }
  }

  /* Events at a glance pane */


  .pane-events {

    clear: both;

    h3{
      color: #fff;
      text-decoration: underline;
      font-weight: 400;
      font-size: 20px;
    }
    a {
      color:white;
    }
    p {
      margin:0;
    }
    ul {
      @include naked-list;

      // **** REFACTOR THIS ****
      li {
        @media all and (min-width: 700px) {
          width: 33%;
          float: left;
          min-height: 225px;
          padding-right: 1em;
        }
      }
    }
  }

  #footer {
    margin-top: 0px;
  }

}
