//
// Homepage styles
//


.front {

  #content {
    @include zen-grid-container();
    $zen-column-count: 4;
    // $zen-gutter-width: 10px;
    
    p{
      color:#ccc;
    }
  }


  /* Highlighst and Facts panes */
  
  .pane-facts {
  
    .pane-content > div {
      float: left;
      width: 33%;
      padding:0 20px;
      height: 150px;
      overflow: hidden;
      border-right:solid 1px #797878;
    }
    
    div .fact-one{
      padding-left:0;
    }
    div .fact-three{
      border-right:0;
    }
    h3 {
      font-size: 50px;
      color:#fff;
      
      @media all and (max-width: 600px) {
        font-size: 2em;
      }
      
      line-height: 1em;
      margin: 0;
    }
    
    p {
      font-size: 18px;
      margin: 0;
      min-height: 100px;
      color:#fff;
    }
    
  }  
  
  // big viewport  
  @media all and (min-width: 900px) {     
    .pane-highlights {          
      @include zen-grid-item(2,1);
      padding-right: 10px; // for the little gap-toothed look from the comp :)
    }
    
    .pane-facts {
      @include zen-grid-item(2,3);
      padding-left: 30px;
    }
    
    .pane-speakers-panel-pane-1 {
      @include zen-clear();
    }
  }
 
  /* Top left custom pane */
  .pane-1{
    -moz-box-sizing: border-box;
    float: left;
    margin-left: 0;
    margin-right: -50%;
    padding-left: 0;
    padding-right: 10px;
    width: 50%;
    word-wrap: break-word;

    .pane-content{
      background: url("../images/featured.png") no-repeat scroll 0 0 / 100% auto transparent;
      min-height:200px;

      p{
        color:white;
      }

      .eventhighlights {
        width:50%;
        margin-left:50%;
        padding:20px;

        a{
          color:white;
          text-decoration:underline;
        }
        .large{
          font-size:215%;
          color:white;
          font-weight:bold;
          float:left;
          line-height:40px;
          padding-bottom:10px;
        }
      }
    }
  }
  
  /* Featured Attendees pane */

  .pane-attendees-panel-pane-2{
    clear:both;
    padding-top:40px;
  }
  
  .pane-speakers-panel-pane-1{
    padding-top:10px;
  }
  
  .view-id-speakers {
    .views-row {
      float: left;
    }
    a.attendee-username {
      color: #7EC0D6;
    }
  }

/* Event highlight */
  
#content .highlight-text p{
   color:#fff;
   padding:0;
   margin:0;
}

  .highlight-photo{
    background: url(../images/featured.png);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 200px;
  }
 
  .highlight-text{
    // margin-left: 294px;
    float: right;
    width: 50%;
    padding:10px;
    color:#fff;
      h3{
        color:#fff;
      }
  }
 
  /* Events at a glance pane */


  .pane-events {
    
    clear: both;
    
    h3{
      color: #fff;
      text-decoration: underline;
      font-weight: 400;
      font-size: 20px;
    }
    a { 
      color:white;
    }
    p {
      margin:0;
    }
    ul {
      @include naked-list;
            
      // **** REFACTOR THIS ****
      li { 
        @media all and (min-width: 700px) {
          width: 33%;
          float: left;
          min-height: 225px;
          padding-right: 1em;
        }
      }
    }
  }
  
  #footer {
    margin-top: 0px;
  }

}