//
// Responsive menu gets its own partial, because it's kind of crazy.
//


#navigation {
  position: static;
  display: block;
  padding: .4em 0;
  margin: 1em 0;
  border-top: 5px solid $dark;
  border-bottom: 1px solid $dark;
  height: 3em;
}


#navigation .block-menu-block { // the Main Menu's menu block

  h2,
  a {
    font-size: 1.25em;
    line-height: 1.45em;
  }
  
  h2 {
    text-transform: uppercase;
    float: left;
  }

  h2,
  .menu-block-wrapper {
    display: inline-block;
  }


  a {   
    color: $dark;

    &:link {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  h2:after,
  li:after {
    content: "/";
    display: inline-block;
    width: 2em;
    text-align: center;
    font-weight: normal;
  }

  li.last:after {
    content: "";
  }

}
