//
// Responsive menu gets its own partial, because it's kind of crazy.
//


#navigation {
  position: static;
  display: block;
  padding: .6em 0;
  margin: 1em 0;
}

#page {
  position: relative;
  -webkit-transition: -webkit-transform 300ms ease;
  -webkit-transform: translate3d(0, 0, 0);

  /* 
    When mobile nav is open, overflow some elements
    that have negative margin that impedees into the mobile 
    navigation. 
   */
  &.open {
    #content,
    #footer {
      overflow: hidden;
    }
  }
}

#navigation .block-menu-block { // the Main Menu's menu block

  h2,
  a {
    font-size: 1.25em;
    line-height: 1.5em;
    padding-bottom: -5px; /* This moves the dropdown menu*/
  }
  
  h2 {
    text-transform: uppercase;
    float: left;
    border: none;
  }

  h2,
  .menu-block-wrapper {
    display: inline-block;
  }


  a {   
    &:link {
      text-decoration: none;
    }
    &:hover{color:#0077a5;}
  }
}


@media all and (max-width: 820px) {
  
  #mobile-nav-button,
  #navigation h2,
  #navigation ul{
    padding: .15em;
  }

  #mobile-nav-button {
    position: absolute;
    left: 0;
    font-size: 2em;
    background: $blue;
    width: 1.2em;
    height: 40px;
    text-align: center;
  }

  #navigation {
    margin: 0 0 1em 0;
    background: $dark;
    padding: 0;
    height: 40px;

    h2 {
      margin-left: 2em;
      margin-top: 3px;
      color: #fff;
    }

    ul.menu {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: -250px;
      width: 250px;
      margin: 0;
    }
    
    li {
      display: block;
      float: none;
      // padding: .5em 1em;
      // border-bottom: 1px solid $dark;
      
      &.last {
        border: 0;
      }
    }
    
    a {
      display: block;
      padding: .5em 1em;
      color: #fff;
    
      &:hover {
        text-decoration: none;
        background: $dark;
      }
    
      &:before {
        content: "-";
        float: right;
      }
    }
  }

  /* mobile menu transitions */

  #mobile-nav-button.open {
    background: #d00;
  }

  #page.open {
    -webkit-transform: translate3d(250px, 0, 0);

    #navigation ul.menu {
      
    }
  }
}

@media all and (min-width: 820px) {

  #mobile-nav-button {
    display: none;
  }

  #navigation {
    border-top: 5px solid $dark;
    border-bottom: 1px solid $dark;

    h2 {
      color: $dark;
    }

    ul.menu {
      li {
        float: left;
      }
    }


    h2:after,
    li:after {
      content: "/";
      display: inline-block;
      width: 2em;
      text-align: center;
      font-weight: normal;
    }
  
    li.last:after {
      content: "";
    }
    
    a {
      color: $dark;
            
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
