//
// Panels-specific layout code
//

#page {
  overflow: hidden;
}

// Top Sponsors
#block-views-sponsors-block-1 {
  h2 {
    margin-left: -50%;
    padding-left: 50%;
    margin-right: -50%;
    padding-right: 50%;
    color: #fff;
    background-color: #aaa;
    font-size: 1.17em;
  }
}

// Regions and their colors

.front {
  #main {
    background: $dark;
    color: #fff;
  }
}


#main {
  background: #fff;
  color: #555;
	padding-top:0;
}

h2 {
  color: $blue;
  border-bottom: 1px solid #bbb;
}


/* 
  Speakers, attendees etc. 
  
*/

// This is shared on the featured speakers and the attendees
%speaker-name {
  font-size: 1em;
  border-bottom: 1px solid #797878;
  padding-bottom: 6px;
  margin-bottom: 5px;
  font-weight: bold;
}

// likely I did this to much.
.view-id-attendees {
  .view-content .item-list {
    
    ul, ul li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul li {
      border-bottom: 1px solid #999;
      float: left;
      height: 325px;
      margin-bottom: 20px;
      width: 50%;
      
      img {
        width: 100%;
        height: auto;
        max-height: 210px;
        max-width: 210px
      }
    }

    .attendee {
      padding-right: 10px;
    }
    
    .attendee-photo a {
      display: block;
      line-height: 0;
      margin-bottom: 10px;
    }
    
    .attendee-display-name {
      @extend %speaker-name;
    }

    @media all and (max-width:500px) { 
      li:nth-child(2n+2) .attendee {
        padding-right: 0;
      }
    }

    // show 3 up
    @media all and (min-width:501px) and (max-width: 759px) { 
      ul li {
        width: 33%;
      }
      li:nth-child(3n+3) .attendee {
        padding-right: 0;
      }
    }

    // show 5 up
    @media all and (min-width:760px)  { 
      ul li {
        width: 20%;
      }
      li:nth-child(5n+5) .attendee {
        padding-right: 0;
      }
    }



  }

}

/* responsive Slider ( mainly the one found on home page ) */

.view-id-speakers {

}


.views_slideshow_liquidcarousel_main {

  .liquid {
    // min-height: 207px;
    .wrapper ul li {
      min-height: 325px;
    }
    
    .speaker-name {
      @extend %speaker-name;
    }
  }


  // nav controls
  .previous,
  .next {
    height: 207px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 37px;
  }

  .previous {
    background: #333 url('../images/arrow-left.png') no-repeat center center;
  }
  
  .next {
    background: #333 url('../images/arrow-right.png') no-repeat center center;
  }
}

h2 {
  color: $blue;
  border-bottom: 1px solid #555;
}

#page-title{
	margin-left: -50%;
	padding-left: 50%;
	margin-right: -50%;
	padding-right: 50%;
	color: #fff;
	background-color: #313337;
	font-size: 1.8em;
	margin-bottom: 40px;
}

// Registration
@media all and (max-width: $breakpoint) {
	.signup .field-name-field-first-name,
	.signup .form-item-name,
	.signup .form-item-pass-pass1{
		float:none;
	}

	.signup .field-name-field-last-name,
	.signup .form-item-mail,
	.signup .form-item-pass-pass2{
		float:none;
	}
	
	.signup #user-register-form .form-item {
		width:20em;
	}
	
	.signup #user-register-form input.username,
	.signup #user-register-form input#edit-mail,
	.signup #user-register-form input.password-field,
	.signup #user-register-form input.password-confirm,
	.signup #user-register-form input#edit-field-first-name-und-0-value,
	.signup #user-register-form input#edit-field-last-name-und-0-value{
		width:20em;
	}
	.pane-user-signup, .registration-steps, .signup .messages{
		margin-left:5%;
		margin-right:5%;
	}
	
	.signup #user-register-form .form-submit{
		float:none;
		clear:both;
	}
	
	.signup .field-name-field-interest-jobs,
	.signup .field-name-field-interest-volunteering{
		float:none;
		margin-right:0;
		margin-top:0;
	}
	
	.registration-steps .registration.two {
		margin: 0 22%;
	}
	
	.registration-steps {
		background:none;
	}
}
	
// Sponsors

#sponsors-page{
	.panel-pane{
		clear:both;
	}
	
	.view-sponsors{
	clear:both;
	
 		.views-row{
			float:left;
			margin:10px;
			
			.views-field-title{
				text-align:center;
				
				a{
				color:#000;
				text-decoration:none;
				}
			}
		}
	}
}

// Footer
.region-footer {
  .views-field-title {
    margin: 1.5em 1em 0 1em;
    border-bottom: 1px solid #000;
    a {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
  }

  img {
    padding: 0 1em 1em 1em;
  }

  h2 {
    border: none;
  }

  @media all and (max-width: $breakpoint) {
    .view-id-sponsors {
      @include zen-grid-container();
      $zen-column-count: 2;
      $zen-gutter-width: 0;

      .views-row-1 {
        @include zen-grid-item(1,1);
      }

      .views-row-2 {
        @include zen-grid-item(1,2);
      }

      .views-row-3 {
        @include zen-clear();
        @include zen-grid-item(1,1);
      }

      .views-row-4 {
        @include zen-clear();
        @include zen-grid-item(1,2);
      }
    }
  }

  @media all and (min-width: $breakpoint) {
    .view-id-sponsors {
      @include zen-grid-container();
      $zen-column-count: 4;

      .views-row-1 {
        @include zen-grid-item(1,1);
      }

      .views-row-2 {
        @include zen-grid-item(1,2);
      }

      .views-row-3 {
        @include zen-grid-item(1,3);
      }

      .view-row-4 {
        @include zen-grid-item(1,4);
      }
    }    
  }
}