#block-menu-block-8{
  display: none;
}
@media all and (max-width: 860px) {
  #header .header-innner{
    padding: 0 0 0 0;
  }

  #header{
     .block-menu-block {
        .menu-block-wrapper{
          display: block;
        }
     }
  }
  .region-navigation{
    .menu a{
      &:after{
        margin-left: 5px;
        content: "/.";
      }
      &:hover,
      &:focus{
        background: lighten($dark, 3%);
        &:before{
          color: #0077a5;
        }
      }
    }
  }

  .region-navigation{
    background-color: $dark;
    position: relative;
    z-index: 9;
    overflow-y: hidden;
    max-height: 40px;

    .open &{
      @include box-shadow(0px 0px 10px #333333);
      max-height: none;

      .menu{
        display: block;
        overflow-y: auto;
      }
    }
    .block-title{
      display: block !important;
      float:  none !important;
    }
    .menu{
      display: none;
    }
  }
  #block-menu-block-8{
    display: block;
  }
}



