$timeline-text-color: rgb(77, 77, 77);
$timeline-bg-entry: rgb(80,80,80);

.timeline-border {
  margin: 50px auto 100px auto;
  padding: 70px 0 140px 0;
  max-width: 930px;
  height: auto;
  position: relative;
  &:after { @extend %clearfix-after;}

  .line {
    position: absolute;
    width: 1px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);    
    height: 100%;
    left: 49.9%;
    top: 0;
    z-index: 5;
  }
  

  .day {
    position:relative;
    float: left;
    margin: 20px auto;
    text-align:center;
    width: 100%;
    z-index: 10;
    font-size: 15px;
    //color: white;

    &.first {
      margin-top: 0px !important;
    }

    span {
      //border-radius: 50px;
      background: #fff;
      font-size: 1.25em;
      font-weight: bold;
      //max-width: 200px;
      display: block;
      margin: 0 auto;
    }
  }
  
  /* 
    elements 1,(2),3,(4), etc.
    elements in brackets inherit these properties, some are overridden below (2n)
    beginning at 0
  */
  .event {
    position:relative;
    // text-align:center;
    float: right;
    clear: right; 
    width: 45%;
    margin: 10px 0;
    
    /* I want 40%, and not 45%! */
    box-sizing: border-box;
    
    // border-radius: 5px;
    list-style-type: none;
    display: block;
    padding: 1em;
    background: white;
    z-index: 15;
    
    color: $timeline-text-color;
    border: 1px solid #C1C1C1;
    text-decoration: none;

    // Cheap way to 3d a box shadow :P HURP DURP
    $box-shadow-color: #535353;
    @include box-shadow(1px 1px 0 $box-shadow-color,
                        2px 2px 0 $box-shadow-color,
                        3px 3px 0 $box-shadow-color,
                        4px 4px 0 $box-shadow-color,
                        5px 5px 0 $box-shadow-color);

    -webkit-transition: background .15s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition: background .15s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -ms-transition: background .15s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition: background .15s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    transition: background .15s cubic-bezier(0.250, 0.100, 0.250, 1.000);
    
    &.featured {
      width: 100% ;
      text-align: center;

      background: lighten(#ccc,11%);
      
      &:after, &:before {
        display: none;
      }
    }
    
    @media all and (max-width: 600px) {
      width: 100%;
      margin: 0 0 1em 0;
    }    
    
    &.offset-first {
       margin-top: -1.5em;
    }
    
    img {
      margin-top: 10px;
      max-width: 100%;
    }

    &:hover {
      background: lighten($timeline-bg-entry,10%);
      color: white;
      
      a {
        color: white;
      }

      &:after {
        background: $timeline-bg-entry;
      }
    }
    
    &:nth-child(2n) {
      float: left;
      clear: left; 
    }
    
    &:before {
      content: "";
      width: 7px;
      height: 7px;
      background: #333;
      display: block;
      left: -12.75%;
      top: 35px;
      position: absolute;
      border: 3px solid #FFF;
      @include border-radius(10px);
    }

    &:nth-child(2n):before {
      right: -12.75%;
      /* reset the standard declaration I defined before*/
      left: auto;
      top: 65px;
    }
    &:after {      
      @media all and (min-width: 650px) {
        display: block;
        content: ' ';
        height: 1px; 
        width: 9%;
        background: #333;
        position:absolute;
        left: -9%;
        top: 41px;
      }
    }
      

    &:nth-child(2n):after {
      right: -9%;
      /* reset the standard declaration I defined before*/
      left: auto;
      top: 71px;
      width: 7.5%;
    }    
  }
  
  .bookend {
    font-size: 26px;
    font-weight: bold;
    color: #009933;
    position: absolute;
    z-index:100;
    
    @media screen and (max-width: 615px){
      text-align: center;
      width: 100%;
      span {
        display: block;
        background:#FFF;
      }
    }


  }

  .bookend-top {
    top: -.5em;
  }
  .bookend-bottom {
    z-index: 10;
    bottom: -.5em;
    color: #FF0000;

  }

  @media all and (min-width: 616px) {
    .bookend {
      font-size: 26px;
      font-weight: bold;
      color: #009933;
      position: absolute;
      z-index:100;

      &:after {
        content: "";
        width: 11px;
        height: 11px;
        background: #000;
        display: block;
        position: absolute;
        border-radius: 10px;
        
      }
    }

    .bookend-top {
      top: -.5em;
      right: 52%;
      &:after {
        top: .25em;
        right: -15.15%;
      }
    }
    .bookend-bottom {
      z-index: 10;
      bottom: -.5em;
      left:52.35%;
      color: #FF0000;
      &:after {
        top: .25em;
        left: -15.15%;
      }
    }
  }

  
}

