.flag-registration .unflag-action,
.flag-registration .flag-action{
	padding: 5px;
	border-radius: 2px;
}

.flag-registration .unflag-action{
	background-image:url('images/unflag.png');
	background-repeat: no-repeat;
	background-position:center left;
	padding-left:21px;
}

.flag-registration .flag-processed.flag-action{
	background-image:url('images/flag.png');
	background-repeat: no-repeat;
	background-position:center left;
	padding-left:21px;
}

.flag-registration a.flag-action,
.flag-registration a.unflag-action{
	color: #777777;
}

.signup #user-register-form input.username,
.signup #user-register-form input#edit-mail,
.signup #user-register-form input.password-field,
.signup #user-register-form input.password-confirm,
.signup #user-register-form input#edit-field-first-name-und-0-value,
.signup #user-register-form input#edit-field-last-name-und-0-value{
	width:21.6em;
}

.pane-user-signup .signup #user-register-form{
	margin-top:20px;
}

.field-type-list-boolean .form-item:not(.form-submit){
	border-bottom:0;
}

.signup #user-register-form .form-submit{
	float: right;
	width: 130px;
	text-align: left;
	margin-bottom:30px;
}

.signup #user-register-form .form-item .form-required{
	display:none;
}

.signup .field-name-field-first-name,
.signup .form-item-name,
.signup .form-item-pass-pass1{
	float:left;
}

.signup .field-name-field-last-name,
.signup .form-item-mail,
.signup .form-item-pass-pass2{
	float:right;
}

.signup .field-name-field-first-name,
.signup .form-item-status,
.signup .form-item-field-drupal-username-und-0-value,
.signup .field-name-field-interest-volunteering{
	clear:both;
}

.signup .field-name-field-interest-jobs,
.signup .field-name-field-interest-volunteering{
	float:left;
	margin-right:35px;
	margin-top:20px;
}

.signup #user-register-form .form-type-password-confirm{
	border:0;
}

.pane-user-signup,
.registration-steps,
.signup .messages{
	max-width:730px;
	margin-left:auto;
	margin-right:auto;
}

.signup #user-register-form .form-item{
	margin: 0.5em 0;
}

.registration-steps{
	background:url('../css/images/signup-hr.png');
	height: 100px;
	background-position: center 24px;
	background-repeat: no-repeat;
}

.registration-steps .registration{
	float:left;
	text-align: center;
	width: 50px;
}

.registration-steps .step-number{
	background: #E1E6ED;
	width: 60px;
	text-align: center;
	border-radius: 50px;
	height: 60px;
	padding: 16px;
	font-size: 52px;
	color: #fff;
}

.registration p{
	margin: 13px 0;
	width: 60px;
	color:#666666;
}

.registration-steps .step-number.active{
  background: #20A4DE;
}

.registration-steps .registration.two{
	margin: 0 39%;
}

#individual-sponsor .pane-custom,
#event-request .panel-pane{
	clear:both;
}

.pane-event-request-panel-pane-2 h2{
	padding-left:20px;
	color: #000;
	background-color: #EDEEEF;
	font-size: 1.17em;
	border-bottom:0;
	clear:both;
}

.pane-event-request-panel-pane-2 .item-list,
.pane-event-request-panel-pane-2 .view-header{
	width:255px;
	float:left;
	margin-right:30px;
}

#content .pane-event-request-panel-pane-2 .view-header p{
	color: #990000;
	font-size: 14px;
	line-height: 20px;
}

.pane-event-request-panel-pane-2 h3{
	border-bottom: solid 1px black;
}

.pane-event-request-panel-pane-2 .item-list ul li{
	list-style: none;
	margin-bottom:20px;
}

.pane-event-request-panel-pane-2 .item-list ul a{
	text-decoration:none;
}

.pane-event-request-panel-pane-2 .item-list ul{
	padding:0;
	margin:0;
}

.pane-event-request-panel-pane-2 .views-field-title{
	line-height:18px;
}

.pane-event-request-panel-pane-2 .view-footer{
	display:none;
}

.pane-event-request-panel-pane-2.saturday-events .view-footer{
	display: block;
	float: right;
	max-width: 40%;
} 

.signup-limit,
.signup-no-limit{
	color:#990000;
}

.pane-event-request-panel-pane-2.sunday-events .view-header .signup-limit,
.pane-event-request-panel-pane-2.saturday-events .view-header .signup-limit{
	display:none;
}

.pane-event-request-panel-pane-2.thursday-events .view-header .signup-no-limit,
.pane-event-request-panel-pane-2.friday-events .view-header .signup-no-limit{
	display:none;
}

.submit-button.step-two{
	width:40px;
}

#content #event-request p,
#content #individual-sponsor p{
	color:#777777;
}

#content #individual-sponsor p.rewards{
	margin:0;
	color:#777777;
}

.next-button{
	margin-bottom:80px;
}

.sponsorship-level h4{
	font-weight:600;
	border-bottom:1px solid black;
}

#content #individual-sponsor .sponsorship-level p.amount{
	font-size:52px;
	color:#26A6DF;
	font-weight:600;
	margin: 20px 0;
}

.sponsorship-level{
	float:left;
	width:23%;
	margin-right:30px;
	min-width:200px;
}

.sponsorship-level.last{
	margin-right:0;
}

#individual-sponsor .next-button{
	border-top:solid 1px black;
	margin-bottom:100px;
}

.sponsorship-level ol{
	padding:0 20px;
	margin:0 0 20px;
}
.individual-sponsor-info h1{
	margin:20px 0 10px;
	text-align:center;
}

.individual-sponsor-info p{
	text-align:center;
	margin:0 auto;
	max-width:800px;
	margin-bottom:30px;
}