/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.bootstrap-table{

caption{
		font-size: 22px;
		font-weight: bold;
		margin-top: 30px;
		border-bottom: solid 1px black;
	}
	table {
	  max-width: 100%;
	  background-color: transparent;
	  border-collapse: collapse;
	  border-spacing: 0;
	}
	.table {
	  width: 100%;
	  margin-bottom: 20px;
	}
	.table th,
	.table td {
	  padding: 8px;
	  line-height: 20px;
	  text-align: left;
	  vertical-align: top;
	  border-top: 1px solid #dddddd;
	}
	.table th {
	  font-weight: bold;
	}
	.table thead th {
	  vertical-align: bottom;
	}
	.table caption + thead tr:first-child th,
	.table caption + thead tr:first-child td,
	.table colgroup + thead tr:first-child th,
	.table colgroup + thead tr:first-child td,
	.table thead:first-child tr:first-child th,
	.table thead:first-child tr:first-child td {
	  border-top: 0;
	}
	.table tbody + tbody {
	  border-top: 2px solid #dddddd;
	}
	.table .table {
	  background-color: #ffffff;
	}
	.table-condensed th,
	.table-condensed td {
	  padding: 4px 5px;
	}
	.table-bordered {
	  border: 1px solid #dddddd;
	  border-collapse: separate;
	  *border-collapse: collapse;
	  border-left: 0;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	}
	.table-bordered th,
	.table-bordered td {
	  border-left: 1px solid #dddddd;
	}
	.table-bordered caption + thead tr:first-child th,
	.table-bordered caption + tbody tr:first-child th,
	.table-bordered caption + tbody tr:first-child td,
	.table-bordered colgroup + thead tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child td,
	.table-bordered thead:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child td {
	  border-top: 0;
	}
	.table-bordered thead:first-child tr:first-child > th:first-child,
	.table-bordered tbody:first-child tr:first-child > td:first-child,
	.table-bordered tbody:first-child tr:first-child > th:first-child {
	  -webkit-border-top-left-radius: 4px;
	  -moz-border-radius-topleft: 4px;
	  border-top-left-radius: 4px;
	}
	.table-bordered thead:first-child tr:first-child > th:last-child,
	.table-bordered tbody:first-child tr:first-child > td:last-child,
	.table-bordered tbody:first-child tr:first-child > th:last-child {
	  -webkit-border-top-right-radius: 4px;
	  -moz-border-radius-topright: 4px;
	  border-top-right-radius: 4px;
	}
	.table-bordered thead:last-child tr:last-child > th:first-child,
	.table-bordered tbody:last-child tr:last-child > td:first-child,
	.table-bordered tbody:last-child tr:last-child > th:first-child,
	.table-bordered tfoot:last-child tr:last-child > td:first-child,
	.table-bordered tfoot:last-child tr:last-child > th:first-child {
	  -webkit-border-bottom-left-radius: 4px;
	  -moz-border-radius-bottomleft: 4px;
	  border-bottom-left-radius: 4px;
	}
	.table-bordered thead:last-child tr:last-child > th:last-child,
	.table-bordered tbody:last-child tr:last-child > td:last-child,
	.table-bordered tbody:last-child tr:last-child > th:last-child,
	.table-bordered tfoot:last-child tr:last-child > td:last-child,
	.table-bordered tfoot:last-child tr:last-child > th:last-child {
	  -webkit-border-bottom-right-radius: 4px;
	  -moz-border-radius-bottomright: 4px;
	  border-bottom-right-radius: 4px;
	}
	.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
	  -webkit-border-bottom-left-radius: 0;
	  -moz-border-radius-bottomleft: 0;
	  border-bottom-left-radius: 0;
	}
	.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
	  -webkit-border-bottom-right-radius: 0;
	  -moz-border-radius-bottomright: 0;
	  border-bottom-right-radius: 0;
	}
	.table-bordered caption + thead tr:first-child th:first-child,
	.table-bordered caption + tbody tr:first-child td:first-child,
	.table-bordered colgroup + thead tr:first-child th:first-child,
	.table-bordered colgroup + tbody tr:first-child td:first-child {
	  -webkit-border-top-left-radius: 4px;
	  -moz-border-radius-topleft: 4px;
	  border-top-left-radius: 4px;
	}
	.table-bordered caption + thead tr:first-child th:last-child,
	.table-bordered caption + tbody tr:first-child td:last-child,
	.table-bordered colgroup + thead tr:first-child th:last-child,
	.table-bordered colgroup + tbody tr:first-child td:last-child {
	  -webkit-border-top-right-radius: 4px;
	  -moz-border-radius-topright: 4px;
	  border-top-right-radius: 4px;
	}
	.table-striped tbody > tr:nth-child(odd) > td,
	.table-striped tbody > tr:nth-child(odd) > th {
	  background-color: #f9f9f9;
	}
	.table-hover tbody tr:hover > td,
	.table-hover tbody tr:hover > th {
	  background-color: #f5f5f5;
	}
	table td[class*="span"],
	table th[class*="span"],
	.row-fluid table td[class*="span"],
	.row-fluid table th[class*="span"] {
	  display: table-cell;
	  float: none;
	  margin-left: 0;
	}
	.table td.span1,
	.table th.span1 {
	  float: none;
	  width: 44px;
	  margin-left: 0;
	}
	.table td.span2,
	.table th.span2 {
	  float: none;
	  width: 124px;
	  margin-left: 0;
	}
	.table td.span3,
	.table th.span3 {
	  float: none;
	  width: 204px;
	  margin-left: 0;
	}
	.table td.span4,
	.table th.span4 {
	  float: none;
	  width: 284px;
	  margin-left: 0;
	}
	.table td.span5,
	.table th.span5 {
	  float: none;
	  width: 364px;
	  margin-left: 0;
	}
	.table td.span6,
	.table th.span6 {
	  float: none;
	  width: 444px;
	  margin-left: 0;
	}
	.table td.span7,
	.table th.span7 {
	  float: none;
	  width: 524px;
	  margin-left: 0;
	}
	.table td.span8,
	.table th.span8 {
	  float: none;
	  width: 604px;
	  margin-left: 0;
	}
	.table td.span9,
	.table th.span9 {
	  float: none;
	  width: 684px;
	  margin-left: 0;
	}
	.table td.span10,
	.table th.span10 {
	  float: none;
	  width: 764px;
	  margin-left: 0;
	}
	.table td.span11,
	.table th.span11 {
	  float: none;
	  width: 844px;
	  margin-left: 0;
	}
	.table td.span12,
	.table th.span12 {
	  float: none;
	  width: 924px;
	  margin-left: 0;
	}
	.table tbody tr.success > td {
	  background-color: #dff0d8;
	}
	.table tbody tr.error > td {
	  background-color: #f2dede;
	}
	.table tbody tr.warning > td {
	  background-color: #fcf8e3;
	}
	.table tbody tr.info > td {
	  background-color: #d9edf7;
	}
	.table-hover tbody tr.success:hover > td {
	  background-color: #d0e9c6;
	}
	.table-hover tbody tr.error:hover > td {
	  background-color: #ebcccc;
	}
	.table-hover tbody tr.warning:hover > td {
	  background-color: #faf2cc;
	}
	.table-hover tbody tr.info:hover > td {
	  background-color: #c4e3f3;
	}
}

/*Carson's schedule stuff */
.view-session-schedule .item-list h3 {
    color: #999;
    float: left;
    margin: 0;
    text-align: right;
    width: 15%;
    zoom: 1;
    font-size: 12px;
    padding-right: 1%;
}
.view-session-schedule .view-grouping-header {
    line-height: 35px;
    font-weight: bold;
    float: left;
    clear: left;
    width: 99%;
}
.view-session-schedule .view-grouping-content {
    float: left;
    clear: both;
    width: 100%;
}
.view-session-schedule .item-list {
    margin-top: 20px;
    float: left;
    clear: left;
    width: 100%;
}
.view-session-schedule .item-list ul {
    border-left: 2px solid rgba(0,0,0,.15);
    margin: 0;
    padding-left: 1%;
    float: left;
    width: 85%;
    display: block;
}
.view-session-schedule .item-list ul li {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: block;
    margin: 0 12px 12px 0;
    padding: 2px 5px;
    position: relative;
    overflow: hidden;
    min-height: 10px;
    clear: none;
}
.view-id-session_schedule ul li {
    border-bottom: none;
}
.view-id-session_schedule ul li .views-field {
    font-weight: normal;
}
.view-id-session_schedule ul li .views-field-ops {
  float: right;
  text-align: right;
  margin-right: 0;
}
.view-session-schedule .item-list ul li a {
    text-decoration: none;
}
.view-session-schedule .item-list ul li a:hover {
    text-decoration: underline;
}
.view-session-schedule .item-list ul li a.unflag-action {
    padding-left: 20px;
}
.view-session-schedule .item-list ul li.design-theme-ux {
    background-color: #E1F073;
}
.view-session-schedule .item-list ul li.business-community {
    background-color: #E2BDE0;
}
.view-session-schedule .item-list ul li.code-develop {
    background-color: #F3A88F;
}
.view-session-schedule .item-list ul li.devops-performance {
    background-color: #A1D5B4;
}
.view-session-schedule .item-list ul li.sitebuilding-usingdrupal {
    background-color: #77B1CF;
}
.views-widget-filter-field_track_tid #edit-field-track-tid-all {
    width: 100%;
    text-align: center;
}
.views-widget-filter-field_skill_level_tid select {
    border: none;
    padding-left: 30px;
    padding-top: 5px;
}
.views-widget-filter-field_skill_level_tid .form-type-bef-checkbox {
    border-bottom: none;
}
