/**
 * @file
 * Form Styling
 */
/**
 * Common CSS for full-width titles. Markup requires an inner span.
 */
/* line 9, ../sass/partials/_colors.scss */
body {
  color: #333333;
}

/* line 13, ../sass/partials/_colors.scss */
a {
  color: #0077A5;
  text-decoration: none;
}

/* line 18, ../sass/partials/_colors.scss */
a:hover {
  text-decoration: underline;
}

/* line 8, ../sass/forms.scss */
input:not([type=submit]) {
  border: none;
  background: #EBF0FA;
  padding: 7px 5px;
  line-height: 1em;
  margin-bottom: 3px;
  width: 100%;
}

/* line 19, ../sass/forms.scss */
input[type="button"],
input[type="submit"],
input[type="reset"] {
  padding: 10px 15px;
  margin: 0;
  line-height: 1em;
  background: #000;
  color: #FFF;
  border: none;
}

/* line 30, ../sass/forms.scss */
input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 34, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
  border-bottom: 1px solid #999;
  width: 100%;
}
/* line 41, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 45, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
}
/* line 50, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 55, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
/* line 59, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 64, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 71, ../sass/forms.scss */
.form-type-select,
.form-submit {
  border-bottom: 0;
}

/* line 75, ../sass/forms.scss */
#field-speakers-add-more-wrapper .form-item {
  border-bottom: 0;
}

/* line 79, ../sass/forms.scss */
.form-item-field-speakers-und-0-uid label {
  display: none;
}

/* line 84, ../sass/forms.scss */
table.field-multiple-table tbody {
  border: 0;
}
/* line 87, ../sass/forms.scss */
table.field-multiple-table tr {
  background-color: transparent;
}

/* line 92, ../sass/forms.scss */
.form-submit {
  /* The submit button */
}

/* line 97, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 102, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 105, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 114, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 122, ../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
/* line 129, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 139, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 144, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 149, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 154, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 166, ../sass/forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 172, ../sass/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 176, ../sass/forms.scss */
form tr {
  border: 0;
}
/* line 180, ../sass/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 184, ../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 203, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}

/* line 208, ../sass/forms.scss */
#user-register-form .form-submit,
a.submit-button {
  background-image: url("../images/corner-arrow.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: rgba(110, 110, 110, 0.8);
  font-weight: bold;
  color: #f4f596;
  padding: 10px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

/* line 223, ../sass/forms.scss */
#user-register-form .form-submit:hover,
a.submit-button:hover {
  background-color: #000;
}

/* line 227, ../sass/forms.scss */
.draggable a.tabledrag-handle {
  margin-left: 0;
}
/* line 230, ../sass/forms.scss */
.draggable a.tabledrag-handle .handle {
  width: auto;
  height: auto;
  margin: 0 0.5em;
}

/* line 237, ../sass/forms.scss */
html.js input.form-autocomplete {
  background-position: 100% 11px;
}
