/**
 * @file
 * RTL companion for the navigation.css file.
 */
/* 
  This is used to pull the restricted width elements out to be more full width.
 */
/* line 9, ../sass/partials/_colors.scss */
body {
  color: #333333;
}

/* line 13, ../sass/partials/_colors.scss */
a {
  color: #0077A5;
  text-decoration: none;
}

/* line 18, ../sass/partials/_colors.scss */
a.attendee-username {
  color: #7EC0D6;
}

/* line 22, ../sass/partials/_colors.scss */
a:hover {
  text-decoration: underline;
}

/* line 29, ../sass/partials/_colors.scss */
.front .pane-events a {
  color: white;
}

/* line 9, ../sass/navigation-rtl.scss */
ul li.collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/* line 18, ../sass/navigation-rtl.scss */
#navigation ul.links,
#navigation ul.menu {
  /* Menu block links */
  text-align: right;
}
/* line 21, ../sass/navigation-rtl.scss */
#navigation ul.links li,
#navigation ul.menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/* line 28, ../sass/navigation-rtl.scss */
#secondary-menu {
  float: left;
}
