/* normalize-rtl.css - RTL language extension of normalize.scss. */
/**
 * Common CSS for full-width titles. Markup requires an inner span.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\000039}}
body {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\0000313}}
a {
  color: #0077A5;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\0000318}}
a:hover {
  text-decoration: underline;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/normalize-rtl\.scss}line{font-family:\0000314}}
dd {
  margin: 0 30px 0 0;
}

/*
 * Addresses paddings set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/normalize-rtl\.scss}line{font-family:\0000325}}
menu,
ol,
ul,
.item-list ul {
  padding: 0 30px 0 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* =============================================================================
   Tables
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/normalize-rtl\.scss}line{font-family:\0000348}}
th {
  text-align: right;
}
