/**
 * @file
 * RTL companion for the pages.css file.
 */
/* 
  This is used to pull the restricted width elements out to be more full width.
 */
/* line 9, ../sass/partials/_colors.scss */
body {
  color: #333333;
}

/* line 13, ../sass/partials/_colors.scss */
a {
  color: #0077A5;
  text-decoration: none;
}

/* line 18, ../sass/partials/_colors.scss */
a.attendee-username {
  color: #7EC0D6;
}

/* line 22, ../sass/partials/_colors.scss */
a:hover {
  text-decoration: underline;
}

/* line 29, ../sass/partials/_colors.scss */
.front .pane-events a {
  color: white;
}

/*
 * Header
 */
/* line 13, ../sass/pages-rtl.scss */
#logo {
  /* Wrapping link for logo */
  float: right;
}

/*
 * Content
 */
/* line 21, ../sass/pages-rtl.scss */
ul.inline li {
  /* List of links */
  display: inline-block;
  /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}

/* line 25, ../sass/pages-rtl.scss */
span.field-label {
  /* The inline field label used by the Fences.module */
  padding: 0 0 0 1em;
}
