/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* 
  This is used to pull the restricted width elements out to be more full width.
 */
/* line 81, ../sass/partials/_custom.scss */
#page-title, .pane-full-width-content, .panel-pane.about-header .pane-content:after, .panel-pane.pane-venue-location > .pane-content:after {
  margin-left: -50%;
  padding-left: 50%;
  margin-right: -50%;
  padding-right: 50%;
}

/* line 92, ../sass/partials/_custom.scss */
.view-job-opportunities .view-content ul li:after, .timeline-border:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 9, ../sass/partials/_colors.scss */
body {
  color: #333333;
}

/* line 13, ../sass/partials/_colors.scss */
a {
  color: #0077A5;
  text-decoration: none;
}

/* line 18, ../sass/partials/_colors.scss */
a.attendee-username {
  color: #7EC0D6;
}

/* line 22, ../sass/partials/_colors.scss */
a:hover {
  text-decoration: underline;
}

/* line 29, ../sass/partials/_colors.scss */
.front .pane-events a {
  color: white;
}

/* line 12, ../sass/pages.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*
 * Body
 */
/* line 21, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #444;
}

/* line 27, ../sass/pages.scss */
#page {
  background: #fff;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 36, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 40, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 57, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  margin: 0;
  padding: 0;
}
/* line 62, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 67, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 71, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 77, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 83, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

/* line 88, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 93, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 108, ../sass/pages.scss */
h2 {
  font-size: 27px;
  color: #000;
  border-bottom: 1px solid #bbb;
}

/* line 114, ../sass/pages.scss */
h3 {
  font-size: 22px;
  color: #000;
  margin: 10px 0;
}

/* line 119, ../sass/pages.scss */
h4 {
  font-size: 16px;
  color: #000;
  margin: 10px 0;
}

/* line 131, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  display: none;
}
/* line 133, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 137, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 150, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 154, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 158, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 162, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 165, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 171, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 175, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 180, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 183, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 187, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 191, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 194, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 197, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 200, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 203, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 207, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 213, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 217, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 220, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 225, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 228, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 255, ../sass/pages.scss */
#footer {
  margin-top: 50px;
}
/* line 258, ../sass/pages.scss */
#footer #block-block-1 {
  color: #777777;
  font-size: 14px;
}
/* line 261, ../sass/pages.scss */
#footer #block-block-1 p {
  margin: 5px;
}

/*
 * Page bottom
 */
/* line 271, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/* Header  */
/* line 6, ../sass/partials/_header.scss */
#header {
  background: #e4e3ff url("../images/bg-header-sanfrancisco-v1.jpg") no-repeat bottom center;
  padding: 0;
  max-width: 100%;
}
@media all and (min-width: 1960px) {
  /* line 6, ../sass/partials/_header.scss */
  #header {
    background-size: 100%;
  }
}
/* line 14, ../sass/partials/_header.scss */
#header .header-innner {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 22, ../sass/partials/_header.scss */
#usermenu {
  font-size: 1em;
  background: #000000;
  color: #FFF;
  height: 0px;
  overflow: hidden;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#usermenu:before, #usermenu:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#usermenu:after {
  clear: both;
}
/* line 41, ../sass/partials/_header.scss */
#usermenu h2 {
  color: #fff;
  font-size: 1.2em;
}
/* line 46, ../sass/partials/_header.scss */
#usermenu .form-item {
  border: none;
}
/* line 50, ../sass/partials/_header.scss */
#usermenu input {
  width: 100%;
}
/* line 53, ../sass/partials/_header.scss */
#usermenu input.form-submit {
  width: auto;
}
/* line 60, ../sass/partials/_header.scss */
#usermenu #block-user-login .form-submit {
  border: none;
  background: #888;
  color: #fff;
  padding: .33em .5em;
}
/* line 68, ../sass/partials/_header.scss */
#usermenu label {
  display: none;
}
/* line 73, ../sass/partials/_header.scss */
#usermenu #block-user-login {
  width: 100%;
  float: none;
}
/* line 84, ../sass/partials/_header.scss */
#usermenu .item-list {
  display: none;
}
/* line 88, ../sass/partials/_header.scss */
#usermenu #edit-actions {
  margin: 0;
}
@media all and (min-width: 600px) and (max-width: 960px) {
  /* line 95, ../sass/partials/_header.scss */
  #usermenu.usermenu-visible {
    overflow: hidden;
  }
  /* line 100, ../sass/partials/_header.scss */
  #usermenu #block-block-3 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 104, ../sass/partials/_header.scss */
  #usermenu #block-user-login {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media all and (min-width: 960px) {
  /* line 114, ../sass/partials/_header.scss */
  #usermenu.usermenu-visible {
    height: 270px;
  }
  /* line 118, ../sass/partials/_header.scss */
  #usermenu #block-block-3 {
    float: left;
    width: 40%;
    margin-left: 20%;
    margin-right: -60%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 122, ../sass/partials/_header.scss */
  #usermenu #block-user-login {
    float: left;
    width: 40%;
    margin-left: 60%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

/* line 129, ../sass/partials/_header.scss */
.region-usermenu {
  max-width: 1200px;
  margin: auto;
  padding-top: 25px;
}

/* line 138, ../sass/partials/_header.scss */
#user-login-form .first-name, #user-login-form .form-item-name, #user-login-form .form-item-pass-pass1 {
  float: none;
}

/* line 144, ../sass/partials/_header.scss */
.user-menu-toggler {
  float: right;
  display: none;
}

/* line 149, ../sass/partials/_header.scss */
.user-account-link {
  float: right;
}

/* line 155, ../sass/partials/_header.scss */
.not-logged-in .user-menu-toggler {
  display: block;
}
/* line 159, ../sass/partials/_header.scss */
.not-logged-in .user-account-link {
  display: none;
}

/* line 165, ../sass/partials/_header.scss */
#logo {
  display: inline-block;
}
/* line 168, ../sass/partials/_header.scss */
#logo img {
  max-width: 100%;
}
@media all and (min-width: 700px) {
  /* line 168, ../sass/partials/_header.scss */
  #logo img {
    max-width: 500px;
  }
}

/* line 179, ../sass/partials/_header.scss */
#logo-name-and-slogan h2 {
  font-weight: bold;
  color: #333;
}
@media all and (max-width: 700px) {
  /* line 178, ../sass/partials/_header.scss */
  #logo-name-and-slogan {
    margin: 0 10px;
  }
  /* line 189, ../sass/partials/_header.scss */
  #logo-name-and-slogan #logo {
    float: left;
    padding-right: 5px;
  }
  /* line 194, ../sass/partials/_header.scss */
  #logo-name-and-slogan h1 {
    letter-spacing: -1px;
    font-size: 2em;
    line-height: 1em;
  }
}
@media all and (min-width: 700px) {
  /* line 178, ../sass/partials/_header.scss */
  #logo-name-and-slogan {
    max-width: 50%;
    padding-right: 1em;
    float: left;
  }
  /* line 206, ../sass/partials/_header.scss */
  #logo-name-and-slogan #logo {
    float: left;
    min-height: 220px;
    margin-right: 4.03em;
  }
  /* line 216, ../sass/partials/_header.scss */
  #logo-name-and-slogan h1 {
    font-size: 4em;
    line-height: 1em;
    letter-spacing: -1px;
  }
  /* line 222, ../sass/partials/_header.scss */
  #logo-name-and-slogan h2 {
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.33em;
    border: none;
  }
}

/* line 233, ../sass/partials/_header.scss */
#block-block-2 {
  width: 50%;
  float: left;
  margin: 5px 0 0 0;
}
/* line 237, ../sass/partials/_header.scss */
#block-block-2 .block-title {
  font-size: 1em;
  line-height: 30px;
  border-bottom: 0;
}
/* line 242, ../sass/partials/_header.scss */
#block-block-2 h2 {
  color: #000;
}
/* line 245, ../sass/partials/_header.scss */
#block-block-2 p {
  margin-top: 0;
  margin-bottom: 1em;
  color: #666;
  max-width: 410px;
}
@media all and (max-width: 700px) {
  /* line 245, ../sass/partials/_header.scss */
  #block-block-2 p {
    color: #000;
    font-weight: 600;
    line-height: 24px;
  }
}
@media all and (max-width: 700px) {
  /* line 233, ../sass/partials/_header.scss */
  #block-block-2 {
    width: 70%;
    margin-left: 119px;
    border-top: 1px solid;
    margin-top: 20px;
  }
}

/* line 265, ../sass/partials/_header.scss */
#block-menu-block-1 {
  display: none;
  width: 50%;
  float: left;
  margin-bottom: 0;
}
/* line 270, ../sass/partials/_header.scss */
#block-menu-block-1 .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 274, ../sass/partials/_header.scss */
#block-menu-block-1 .menu li {
  width: 32%;
  margin-right: 5px;
  float: left;
  list-style: none;
}
/* line 280, ../sass/partials/_header.scss */
#block-menu-block-1 .menu a {
  background-image: url("../images/corner-arrow.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: #f4f596;
  line-height: 48px;
  padding: 3px 0 0 10px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}
/* line 294, ../sass/partials/_header.scss */
#block-menu-block-1 .menu a:hover {
  background-color: #000;
}
@media all and (min-width: 700px) {
  /* line 265, ../sass/partials/_header.scss */
  #block-menu-block-1 {
    display: block;
  }
}

/* line 302, ../sass/partials/_header.scss */
#top-navigation {
  display: none;
  height: 14px;
  margin-top: -7px;
  margin-left: 0;
}
/* line 308, ../sass/partials/_header.scss */
#top-navigation ul {
  padding: 0;
  margin: 0;
}
/* line 313, ../sass/partials/_header.scss */
#top-navigation li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 319, ../sass/partials/_header.scss */
#top-navigation .social {
  float: left;
}
/* line 324, ../sass/partials/_header.scss */
#top-navigation .user-menu-toggler,
#top-navigation .user-account-link {
  padding-right: 1em;
}
/* line 328, ../sass/partials/_header.scss */
#top-navigation .user-menu-toggler:hover {
  text-decoration: underline;
}
@media all and (min-width: 820px) {
  /* line 302, ../sass/partials/_header.scss */
  #top-navigation {
    display: block;
  }
}

/* line 6, ../sass/partials/_menu.scss */
#navigation {
  position: static;
  display: block;
  padding: .6em 0;
  margin: 1em 0;
}

/* line 13, ../sass/partials/_menu.scss */
#page {
  position: relative;
  -webkit-transition: -webkit-transform 300ms ease;
  -webkit-transform: translate3d(0, 0, 0);
  /* 
    When mobile nav is open, overflow some elements
    that have negative margin that impedees into the mobile 
    navigation. 
   */
}
/* line 25, ../sass/partials/_menu.scss */
#page.open #content,
#page.open #footer {
  overflow: hidden;
}

/* line 34, ../sass/partials/_menu.scss */
#navigation .block-menu-block h2,
#navigation .block-menu-block a {
  font-size: 1.25em;
  line-height: 1.5em;
  padding-bottom: -5px;
  /* This moves the dropdown menu*/
}
/* line 40, ../sass/partials/_menu.scss */
#navigation .block-menu-block h2 {
  text-transform: uppercase;
  float: left;
  border: none;
}
/* line 47, ../sass/partials/_menu.scss */
#navigation .block-menu-block h2,
#navigation .block-menu-block .menu-block-wrapper {
  display: inline-block;
}
/* line 53, ../sass/partials/_menu.scss */
#navigation .block-menu-block a:link {
  text-decoration: none;
}
/* line 56, ../sass/partials/_menu.scss */
#navigation .block-menu-block a:hover {
  color: #0077a5;
}

@media all and (max-width: 820px) {
  /* line 65, ../sass/partials/_menu.scss */
  #mobile-nav-button,
  #navigation h2,
  #navigation ul {
    padding: .15em;
  }

  /* line 69, ../sass/partials/_menu.scss */
  #mobile-nav-button {
    position: absolute;
    left: 0;
    font-size: 2em;
    background: #26a6df;
    width: 1.2em;
    height: 40px;
    text-align: center;
  }

  /* line 79, ../sass/partials/_menu.scss */
  #navigation {
    margin: 0 0 1em 0;
    background: #1c1c1c;
    padding: 0;
    height: 40px;
  }
  /* line 85, ../sass/partials/_menu.scss */
  #navigation h2 {
    margin-left: 2em;
    margin-top: 3px;
    color: #fff;
  }
  /* line 91, ../sass/partials/_menu.scss */
  #navigation ul.menu {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    margin: 0;
  }
  /* line 100, ../sass/partials/_menu.scss */
  #navigation li {
    display: block;
    float: none;
  }
  /* line 106, ../sass/partials/_menu.scss */
  #navigation li.last {
    border: 0;
  }
  /* line 111, ../sass/partials/_menu.scss */
  #navigation a {
    display: block;
    padding: .5em 1em;
    color: #fff;
  }
  /* line 116, ../sass/partials/_menu.scss */
  #navigation a:hover {
    text-decoration: none;
    background: #1c1c1c;
  }
  /* line 121, ../sass/partials/_menu.scss */
  #navigation a:before {
    content: "-";
    float: right;
  }

  /* mobile menu transitions */
  /* line 130, ../sass/partials/_menu.scss */
  #mobile-nav-button.open {
    background: #d00;
  }

  /* line 134, ../sass/partials/_menu.scss */
  #page.open {
    -webkit-transform: translate3d(250px, 0, 0);
  }
}
@media all and (min-width: 820px) {
  /* line 145, ../sass/partials/_menu.scss */
  #mobile-nav-button {
    display: none;
  }

  /* line 149, ../sass/partials/_menu.scss */
  #navigation {
    border-top: 5px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
  }
  /* line 153, ../sass/partials/_menu.scss */
  #navigation h2 {
    color: #1c1c1c;
  }
  /* line 158, ../sass/partials/_menu.scss */
  #navigation ul.menu li {
    float: left;
  }
  /* line 165, ../sass/partials/_menu.scss */
  #navigation h2:after,
  #navigation li:after {
    content: "/";
    display: inline-block;
    width: 2em;
    text-align: center;
    font-weight: normal;
  }
  /* line 173, ../sass/partials/_menu.scss */
  #navigation li.last:after {
    content: "";
  }
  /* line 177, ../sass/partials/_menu.scss */
  #navigation a {
    color: #1c1c1c;
  }
  /* line 180, ../sass/partials/_menu.scss */
  #navigation a:hover {
    text-decoration: underline;
  }
}
/* line 6, ../sass/partials/_panels.scss */
body {
  width: 100%;
  overflow: hidden;
}

/* line 19, ../sass/partials/_panels.scss */
#block-views-sponsors-block-1 h2 {
  margin-left: -50%;
  padding-left: 50%;
  margin-right: -50%;
  padding-right: 50%;
  color: #fff;
  background-color: #aaa;
  font-size: 1.17em;
}

/* line 33, ../sass/partials/_panels.scss */
.front #main {
  background: #000;
  color: #fff;
}
/* line 38, ../sass/partials/_panels.scss */
.front h2,
.front h3 {
  color: #7EC0D6;
  font-size: 22px;
}

/* line 45, ../sass/partials/_panels.scss */
#main {
  background: #fff;
  color: #555;
  padding-top: 0;
}

/* 
  Speakers, attendees etc. 
  
*/
/* line 60, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list .attendee-display-name, .views_slideshow_liquidcarousel_main .liquid .speaker-name {
  font-size: 1em;
  border-bottom: 1px solid #797878;
  padding-bottom: 6px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 72, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list ul, .view-id-attendees .view-content .item-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 78, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list ul li {
  border-bottom: 1px solid #999;
  float: left;
  height: 375px;
  margin-bottom: 20px;
  width: 50%;
}
/* line 85, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list ul li img {
  width: 100%;
  height: auto;
  max-height: 210px;
  max-width: 210px;
}
/* line 93, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list .attendee {
  padding-right: 10px;
}
/* line 97, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list .attendee-photo a {
  display: block;
  line-height: 0;
  margin-bottom: 10px;
}
@media all and (max-width: 500px) {
  /* line 108, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list li:nth-child(2n+2) .attendee {
    padding-right: 0;
  }
}
@media all and (min-width: 501px) and (max-width: 759px) {
  /* line 115, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list ul li {
    width: 33%;
  }
  /* line 118, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list li:nth-child(3n+3) .attendee {
    padding-right: 0;
  }
}
@media all and (min-width: 760px) {
  /* line 125, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list ul li {
    width: 20%;
  }
  /* line 128, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list li:nth-child(5n+5) .attendee {
    padding-right: 0;
  }
}

/* responsive Slider ( mainly the one found on home page ) */
/* line 150, ../sass/partials/_panels.scss */
.views_slideshow_liquidcarousel_main .liquid .wrapper ul li {
  min-height: 325px;
}
/* line 162, ../sass/partials/_panels.scss */
.views_slideshow_liquidcarousel_main .previous,
.views_slideshow_liquidcarousel_main .next {
  height: 207px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 37px;
}
/* line 170, ../sass/partials/_panels.scss */
.views_slideshow_liquidcarousel_main .previous {
  background: #333333 url("../images/arrow-left.png") no-repeat center center;
}
/* line 174, ../sass/partials/_panels.scss */
.views_slideshow_liquidcarousel_main .next {
  background: #333333 url("../images/arrow-right.png") no-repeat center center;
}

/* line 179, ../sass/partials/_panels.scss */
#page-title {
  color: #fff;
  background-color: #313337;
  font-size: 1.8em;
  margin-bottom: 40px;
}

/* Some pages we will hide the title but keep the title; i know this is acheap way. */
/* line 190, ../sass/partials/_panels.scss */
.page-about #page-title {
  display: none;
}

@media all and (max-width: 700px) {
  /* line 200, ../sass/partials/_panels.scss */
  .signup .field-name-field-first-name,
  .signup .form-item-name,
  .signup .form-item-pass-pass1 {
    float: none;
  }

  /* line 206, ../sass/partials/_panels.scss */
  .signup .field-name-field-last-name,
  .signup .form-item-mail,
  .signup .form-item-pass-pass2 {
    float: none;
  }

  /* line 210, ../sass/partials/_panels.scss */
  .signup #user-register-form .form-item {
    width: 20em;
  }

  /* line 219, ../sass/partials/_panels.scss */
  .signup #user-register-form input.username,
  .signup #user-register-form input#edit-mail,
  .signup #user-register-form input.password-field,
  .signup #user-register-form input.password-confirm,
  .signup #user-register-form input#edit-field-first-name-und-0-value,
  .signup #user-register-form input#edit-field-last-name-und-0-value {
    width: 20em;
  }

  /* line 222, ../sass/partials/_panels.scss */
  .pane-user-signup, .registration-steps, .signup .messages {
    margin-left: 5%;
    margin-right: 5%;
  }

  /* line 227, ../sass/partials/_panels.scss */
  .signup #user-register-form .form-submit {
    float: none;
    clear: both;
  }

  /* line 233, ../sass/partials/_panels.scss */
  .signup .field-name-field-interest-jobs,
  .signup .field-name-field-interest-volunteering {
    float: none;
    margin-right: 0;
    margin-top: 0;
  }

  /* line 239, ../sass/partials/_panels.scss */
  .registration-steps .registration.two {
    margin: 0 22%;
  }

  /* line 243, ../sass/partials/_panels.scss */
  .registration-steps {
    background: none;
  }
}
/* line 251, ../sass/partials/_panels.scss */
#sponsors-page .panel-pane {
  clear: both;
}
/* line 255, ../sass/partials/_panels.scss */
#sponsors-page .view-sponsors {
  clear: both;
}
/* line 258, ../sass/partials/_panels.scss */
#sponsors-page .view-sponsors .views-row {
  float: left;
  margin: 10px;
}
/* line 262, ../sass/partials/_panels.scss */
#sponsors-page .view-sponsors .views-row .views-field-title {
  text-align: center;
}
/* line 265, ../sass/partials/_panels.scss */
#sponsors-page .view-sponsors .views-row .views-field-title a {
  color: #000;
  text-decoration: none;
}

/* line 278, ../sass/partials/_panels.scss */
.icon-flickr,
.icon-twitter,
.icon-facebook {
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 27px;
  padding-left: 30px;
}
/* line 286, ../sass/partials/_panels.scss */
.icon-flickr:hover,
.icon-twitter:hover,
.icon-facebook:hover {
  opacity: .4;
}

/* line 289, ../sass/partials/_panels.scss */
.icon-flickr {
  background-image: url("../images/flickr-icon.png");
}

/* line 293, ../sass/partials/_panels.scss */
.icon-twitter {
  background-image: url("../images/twitter-icon.png");
}

/* line 297, ../sass/partials/_panels.scss */
.icon-facebook {
  background-image: url("../images/facebook-icon.png");
}

/* line 301, ../sass/partials/_panels.scss */
#user-profile-view .field-label {
  width: 190px;
}

/* line 305, ../sass/partials/_panels.scss */
#user-profile-view .field-item {
  max-width: 600px;
}

/* line 309, ../sass/partials/_panels.scss */
#user-profile-view .field {
  border-top: solid 1px #DDDDDD;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* line 315, ../sass/partials/_panels.scss */
#user-profile-view .field-name-field-featured-headshot {
  border-top: 0;
  padding: 0;
}

/* line 320, ../sass/partials/_panels.scss */
#user-profile-view h2 {
  color: #000;
}

/* line 324, ../sass/partials/_panels.scss */
#user-profile-view .field-name-field-title-role {
  border: 0;
  margin-top: -30px;
}

/* line 329, ../sass/partials/_panels.scss */
ul.primary.tabs a:link {
  background: none;
  border: 0;
}

/* line 334, ../sass/partials/_panels.scss */
ul.primary.tabs a.active {
  border-bottom: solid 5px #CA4D00;
}

/* line 338, ../sass/partials/_panels.scss */
ul.primary.tabs li {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 345, ../sass/partials/_panels.scss */
ul.primary.tabs {
  border-bottom: solid 1px #000;
  padding: 0;
  margin: 20px 0;
}

/* line 351, ../sass/partials/_panels.scss */
.view-camp-user-social-media-links .item-list ul {
  padding: 0;
}
/* line 353, ../sass/partials/_panels.scss */
.view-camp-user-social-media-links .item-list ul li {
  list-style: none;
}

/* line 363, ../sass/partials/_panels.scss */
.view-summits-by-day.landing-page .views-field-title,
.view-summits-by-day.landing-page .views-field-field-summary {
  float: left;
  width: 570px;
}
/* line 368, ../sass/partials/_panels.scss */
.view-summits-by-day.landing-page .views-field-field-summary {
  margin-bottom: 30px;
}
/* line 372, ../sass/partials/_panels.scss */
.view-summits-by-day.landing-page .views-field-field-venue-1 {
  float: left;
  margin-top: -22px;
  margin-left: 30px;
}
/* line 377, ../sass/partials/_panels.scss */
.view-summits-by-day.landing-page h3 {
  padding: 4px 20px;
  margin-bottom: 30px;
  color: #000;
  background-color: #EDEEEF;
  font-size: 1.17em;
  border-bottom: 0;
  clear: both;
}
/* line 387, ../sass/partials/_panels.scss */
.view-summits-by-day.landing-page h4 {
  margin: 10px 0 0;
  font-weight: 600;
  margin-top: 30px;
}
/* line 391, ../sass/partials/_panels.scss */
.view-summits-by-day.landing-page h4 a {
  color: black;
  text-decoration: underline;
}
/* line 396, ../sass/partials/_panels.scss */
.view-summits-by-day.landing-page .item-list ul {
  padding: 0;
  margin: 0 0 10px;
}
/* line 399, ../sass/partials/_panels.scss */
.view-summits-by-day.landing-page .item-list ul li {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: solid 1px black;
  clear: both;
}

/* line 412, ../sass/partials/_panels.scss */
.pane-sponsors-panel-pane-5 {
  clear: both;
}

/* line 418, ../sass/partials/_panels.scss */
.view-display-id-panel_pane_5 .views-field-field-image {
  float: left;
  padding: 0 20px 0 0;
}

/* line 426, ../sass/partials/_panels.scss */
#proposed-sessions h3 {
  padding: 4px 20px;
  margin-bottom: 30px;
  color: #000;
  background-color: #EDEEEF;
  font-size: 1.17em;
  border-bottom: 0;
  clear: both;
}

/* line 436, ../sass/partials/_panels.scss */
#proposed-sessions h2 {
  margin: 10px 0;
}

/* line 440, ../sass/partials/_panels.scss */
.view-id-session_schedule ul {
  margin: 0;
  padding: 0;
}
/* line 443, ../sass/partials/_panels.scss */
.view-id-session_schedule ul li {
  list-style: none;
  clear: both;
  border-bottom: solid 1px;
  margin: 10px 0 20px 0;
  min-height: 120px;
}
/* line 450, ../sass/partials/_panels.scss */
.view-id-session_schedule ul li .views-label-field-speakers-1 {
  font-weight: 600;
}
/* line 454, ../sass/partials/_panels.scss */
.view-id-session_schedule ul li .views-field {
  display: block;
  margin: 5px 0;
}
/* line 459, ../sass/partials/_panels.scss */
.view-id-session_schedule ul li .views-field-field-track-1,
.view-id-session_schedule ul li .views-field-field-skill-level {
  float: left;
  margin-right: 10px;
}
/* line 464, ../sass/partials/_panels.scss */
.view-id-session_schedule ul li .views-field-title {
  font-weight: bold;
  max-width: 500px;
  line-height: 20px;
}
/* line 470, ../sass/partials/_panels.scss */
.view-id-session_schedule ul li a {
  color: #000;
  text-decoration: underline;
  margin: 0 0 5px;
}

/* line 479, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid .form-item:not(.form-submit) {
  border-bottom: 0;
}
/* line 483, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid .form-type-bef-link {
  float: left;
}
/* line 492, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-17 a,
.views-widget-filter-field_track_tid #edit-field-track-tid-18 a,
.views-widget-filter-field_track_tid #edit-field-track-tid-46 a,
.views-widget-filter-field_track_tid #edit-field-track-tid-20 a,
.views-widget-filter-field_track_tid #edit-field-track-tid-29 a,
.views-widget-filter-field_track_tid #edit-field-track-tid-19 a {
  background: white url("../images/session-icons.png") no-repeat;
  margin: 20px;
  padding: 20px;
  display: block;
  height: 100px;
  padding: 80px 0px 0;
  width: 100px;
  text-align: center;
  font-size: 15px;
  line-height: 16px;
  color: #000;
}
/* line 505, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-17 a:hover,
.views-widget-filter-field_track_tid #edit-field-track-tid-18 a:hover,
.views-widget-filter-field_track_tid #edit-field-track-tid-46 a:hover,
.views-widget-filter-field_track_tid #edit-field-track-tid-20 a:hover,
.views-widget-filter-field_track_tid #edit-field-track-tid-29 a:hover,
.views-widget-filter-field_track_tid #edit-field-track-tid-19 a:hover {
  text-decoration: none;
}
/* line 512, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-17 a {
  background-position: 61% 119%;
}
/* line 517, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-17:hover a, .views-widget-filter-field_track_tid #edit-field-track-tid-17.selected a {
  background-position: 61% 0%;
}
/* line 524, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-18 a {
  background-position: 82% 119%;
}
/* line 529, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-18:hover a, .views-widget-filter-field_track_tid #edit-field-track-tid-18.selected a {
  background-position: 82% 0%;
}
/* line 537, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-46 a {
  background-position: 101.8% 119.5%;
}
/* line 542, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-46:hover a, .views-widget-filter-field_track_tid #edit-field-track-tid-46.selected a {
  background-position: 100% 0%;
}
/* line 550, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-20 a {
  background-position: -3% 119%;
}
/* line 555, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-20:hover a, .views-widget-filter-field_track_tid #edit-field-track-tid-20.selected a {
  background-position: -3% 0%;
}
/* line 563, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-19 a {
  background-position: 17% 119%;
}
/* line 568, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-19:hover a, .views-widget-filter-field_track_tid #edit-field-track-tid-19.selected a {
  background-position: 17% 0%;
}
/* line 576, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-29 a {
  background-position: 39% 119%;
}
/* line 581, ../sass/partials/_panels.scss */
.views-widget-filter-field_track_tid #edit-field-track-tid-29:hover a, .views-widget-filter-field_track_tid #edit-field-track-tid-29.selected a {
  background-position: 39% 0%;
}

/*-------------------------------------------*\

	Job Board

\*-------------------------------------------*/
/* line 598, ../sass/partials/_panels.scss */
.view-job-opportunities .view-content ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 604, ../sass/partials/_panels.scss */
.view-job-opportunities .view-content ul li {
  list-style: none;
  border-bottom: 1px solid #bbb;
  display: block;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 618, ../sass/partials/_panels.scss */
.view-job-opportunities .view-content ul li .views-label {
  display: none;
}
/* line 622, ../sass/partials/_panels.scss */
.view-job-opportunities .view-content ul li .views-field-field-image {
  float: left;
  width: 20%;
  line-height: 1em;
}
/* line 628, ../sass/partials/_panels.scss */
.view-job-opportunities .view-content ul li .views-field-title {
  padding: 3em 0 0 0;
  width: 80%;
}

/* END JOB BOARD STYLES -------------------*/
/*-------------------------------------------*\

	Plugin Pane Styles

\*-------------------------------------------*/
/* line 647, ../sass/partials/_panels.scss */
.pane-center-styled-content .pane-title, .center-title-only .pane-title, .pane-full-width-content .pane-title, .panel-pane.about-header .pane-content:after .pane-title, .panel-pane.pane-venue-location > .pane-content:after .pane-title {
  text-align: center;
  border: none;
  font-size: 43px;
  margin: 0;
  padding: 1em 0 0 0;
  line-height: 1.25em;
}
/* line 70, ../sass/partials/_custom.scss */
.pane-center-styled-content .pane-title:after, .center-title-only .pane-title:after, .pane-full-width-content .pane-title:after, .panel-pane.about-header .pane-content:after .pane-title:after, .panel-pane.pane-venue-location > .pane-content:after .pane-title:after {
  content: "/.";
  display: inline-block;
  text-align: center;
  width: 1.4em;
}

/* line 659, ../sass/partials/_panels.scss */
.pane-center-styled-content .pane-content, .pane-full-width-content .pane-content, .panel-pane.about-header .pane-content:after .pane-content, .panel-pane.pane-venue-location > .pane-content:after .pane-content {
  text-align: center;
}
/* line 661, ../sass/partials/_panels.scss */
.pane-center-styled-content .pane-content p, .pane-full-width-content .pane-content p, .panel-pane.about-header .pane-content:after .pane-content p, .panel-pane.pane-venue-location > .pane-content:after .pane-content p {
  margin: 0 0 1.5em;
}

/* line 681, ../sass/partials/_panels.scss */
.pane-full-width-content, .panel-pane.about-header .pane-content:after, .panel-pane.pane-venue-location > .pane-content:after {
  background-color: #000;
}
/* line 688, ../sass/partials/_panels.scss */
.pane-full-width-content .pane-title, .panel-pane.about-header .pane-content:after .pane-title, .panel-pane.pane-venue-location > .pane-content:after .pane-title {
  color: #7EBFD6;
}
/* line 70, ../sass/partials/_custom.scss */
.pane-full-width-content .pane-title:after, .panel-pane.about-header .pane-content:after .pane-title:after, .panel-pane.pane-venue-location > .pane-content:after .pane-title:after {
  content: "/.";
  display: inline-block;
  text-align: center;
  width: 1.4em;
}
/* line 693, ../sass/partials/_panels.scss */
.pane-full-width-content .pane-content, .panel-pane.about-header .pane-content:after .pane-content, .panel-pane.pane-venue-location > .pane-content:after .pane-content {
  color: #FFF;
  font-size: 18px;
}
/* line 696, ../sass/partials/_panels.scss */
.pane-full-width-content .pane-content p, .panel-pane.about-header .pane-content:after .pane-content p, .panel-pane.pane-venue-location > .pane-content:after .pane-content p {
  font-weight: 100;
}

/* END PLUGIN PANE STYLES -------------------*/
/* line 705, ../sass/partials/_panels.scss */
.panel-pane.about-header .pane-content:after {
  display: block;
  content: "";
  width: 100%;
  min-height: 307px;
  background: url("../images/about1.jpg") no-repeat top center;
}

/* line 719, ../sass/partials/_panels.scss */
.panel-pane.pane-venue-location > .pane-content:after {
  display: block;
  content: "";
  width: 100%;
  min-height: 369px;
  background: url("../images/about2.jpg") no-repeat top center;
}

/* line 733, ../sass/partials/_panels.scss */
.about-facts {
  background-image: url(../images/bg-facts.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 3em;
}
/* line 739, ../sass/partials/_panels.scss */
.about-facts .pane-title {
  margin-bottom: 1em;
}
/* line 745, ../sass/partials/_panels.scss */
.about-facts .fact-one,
.about-facts .fact-two,
.about-facts .fact-three {
  color: #FFF;
}
/* line 747, ../sass/partials/_panels.scss */
.about-facts .fact-one h3,
.about-facts .fact-two h3,
.about-facts .fact-three h3 {
  font-size: 76px;
  line-height: 1em;
  color: #FFF;
}
/* line 754, ../sass/partials/_panels.scss */
.about-facts .fact-one:before {
  content: "Connect";
}
/* line 757, ../sass/partials/_panels.scss */
.about-facts .fact-two:before {
  content: "Learn";
}
/* line 760, ../sass/partials/_panels.scss */
.about-facts .fact-three:before {
  content: "Inspire";
}
@media screen and (min-width: 768px) {
  /* line 769, ../sass/partials/_panels.scss */
  .about-facts .fact-one,
  .about-facts .fact-two,
  .about-facts .fact-three {
    width: 33.33333%;
    float: left;
  }
}
@media screen and (min-width: 1500px) {
  /* line 733, ../sass/partials/_panels.scss */
  .about-facts {
    background-size: 100%;
  }
}

/* line 785, ../sass/partials/_panels.scss */
.region-footer .views-field-title {
  margin: 1.5em 1em 0 1em;
  border-bottom: 1px solid #000;
}
/* line 788, ../sass/partials/_panels.scss */
.region-footer .views-field-title a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
/* line 795, ../sass/partials/_panels.scss */
.region-footer img {
  padding: 0 1em 1em 1em;
}
/* line 799, ../sass/partials/_panels.scss */
.region-footer h2 {
  border: none;
}
/* line 805, ../sass/partials/_panels.scss */
.region-footer .view-id-sponsors .views-row {
  float: left;
  width: 25%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media screen and (max-width: 700px) {
  /* line 805, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .views-row {
    width: 50%;
  }
}

/*darius' random css*/
/* line 826, ../sass/partials/_panels.scss */
.front .pane-1 {
  -moz-box-sizing: border-box;
  float: left;
  margin-left: 0;
  margin-right: -50%;
  padding-left: 0;
  padding-right: 10px;
  width: 50%;
  word-wrap: break-word;
}
/* line 837, ../sass/partials/_panels.scss */
.front .pane-1 .pane-content {
  background: url("../images/featured.png") no-repeat scroll 0 0/100% auto transparent;
  min-height: 200px;
}
/* line 843, ../sass/partials/_panels.scss */
.front .pane-1 .eventhighlights {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
}
/* line 849, ../sass/partials/_panels.scss */
.front .pane-1 a {
  color: white;
  text-decoration: underline;
}
/* line 850, ../sass/partials/_panels.scss */
.front .pane-1 p {
  color: white;
}
/* line 851, ../sass/partials/_panels.scss */
.front .pane-1 .large {
  font-size: 215%;
  color: white;
  font-weight: bold;
  float: left;
  line-height: 40px;
  padding-bottom: 10px;
}

/* line 6, ../sass/partials/_homepage.scss */
.front {
  /* Highlighst and Facts panes */
  /* Featured Attendees pane */
  /* Event highlight */
  /* Events at a glance pane */
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.front #content:before, .front #content:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.front #content:after {
  clear: both;
}
/* line 13, ../sass/partials/_homepage.scss */
.front #content p {
  color: #ccc;
}
/* line 23, ../sass/partials/_homepage.scss */
.front .pane-facts .pane-content > div {
  float: left;
  width: 33%;
  padding: 0 20px;
  height: 150px;
  overflow: hidden;
  border-right: solid 1px #797878;
}
/* line 32, ../sass/partials/_homepage.scss */
.front .pane-facts div .fact-one {
  padding-left: 0;
}
/* line 35, ../sass/partials/_homepage.scss */
.front .pane-facts div .fact-three {
  border-right: 0;
}
/* line 38, ../sass/partials/_homepage.scss */
.front .pane-facts h3 {
  font-size: 50px;
  color: #fff;
  line-height: 1em;
  margin: 0;
}
@media all and (max-width: 600px) {
  /* line 38, ../sass/partials/_homepage.scss */
  .front .pane-facts h3 {
    font-size: 2em;
  }
}
/* line 50, ../sass/partials/_homepage.scss */
.front .pane-facts p {
  font-size: 18px;
  margin: 0;
  min-height: 100px;
  color: #fff;
}
@media all and (min-width: 900px) {
  /* line 61, ../sass/partials/_homepage.scss */
  .front .pane-highlights {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-right: 10px;
  }
  /* line 66, ../sass/partials/_homepage.scss */
  .front .pane-facts {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 30px;
  }
  /* line 71, ../sass/partials/_homepage.scss */
  .front .pane-speakers-panel-pane-1 {
    clear: left;
  }
}
/* line 79, ../sass/partials/_homepage.scss */
.front .pane-attendees-panel-pane-2 {
  clear: both;
  padding-top: 40px;
}
/* line 84, ../sass/partials/_homepage.scss */
.front .pane-speakers-panel-pane-1 {
  padding-top: 10px;
}
/* line 90, ../sass/partials/_homepage.scss */
.front .view-id-speakers .views-row {
  float: left;
}
/* line 101, ../sass/partials/_homepage.scss */
.front #content .highlight-text p {
  color: #fff;
  padding: 0;
  margin: 0;
}
/* line 107, ../sass/partials/_homepage.scss */
.front .highlight-photo {
  background: url(../images/featured.png);
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 200px;
}
/* line 115, ../sass/partials/_homepage.scss */
.front .highlight-text {
  float: right;
  width: 50%;
  padding: 10px;
  color: #fff;
}
/* line 121, ../sass/partials/_homepage.scss */
.front .highlight-text h3 {
  color: #fff;
}
/* line 129, ../sass/partials/_homepage.scss */
.front .pane-events {
  clear: both;
}
/* line 133, ../sass/partials/_homepage.scss */
.front .pane-events h3 {
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
}
/* line 139, ../sass/partials/_homepage.scss */
.front .pane-events p {
  margin: 0;
}
/* line 142, ../sass/partials/_homepage.scss */
.front .pane-events ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media all and (min-width: 700px) {
  /* line 146, ../sass/partials/_homepage.scss */
  .front .pane-events ul li {
    width: 33%;
    float: left;
    min-height: 225px;
    padding-right: 1em;
  }
}
/* line 157, ../sass/partials/_homepage.scss */
.front #footer {
  margin-top: 0px;
}

/* line 4, ../sass/partials/_timeline.scss */
.timeline-border {
  margin: 50px auto 100px auto;
  padding: 70px 0 140px 0;
  max-width: 930px;
  height: auto;
  position: relative;
  /* 
    elements 1,(2),3,(4), etc.
    elements in brackets inherit these properties, some are overridden below (2n)
    beginning at 0
  */
}
/* line 12, ../sass/partials/_timeline.scss */
.timeline-border .line {
  position: absolute;
  width: 1px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  height: 100%;
  left: 49.9%;
  top: 0;
  z-index: 5;
}
/* line 23, ../sass/partials/_timeline.scss */
.timeline-border .day {
  position: relative;
  float: left;
  margin: 20px auto;
  text-align: center;
  width: 100%;
  z-index: 10;
  font-size: 15px;
}
/* line 33, ../sass/partials/_timeline.scss */
.timeline-border .day.first {
  margin-top: 0px !important;
}
/* line 37, ../sass/partials/_timeline.scss */
.timeline-border .day span {
  background: #fff;
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}
/* line 53, ../sass/partials/_timeline.scss */
.timeline-border .event {
  position: relative;
  float: right;
  clear: right;
  width: 45%;
  margin: 10px 0;
  /* I want 40%, and not 45%! */
  box-sizing: border-box;
  list-style-type: none;
  display: block;
  padding: 1em;
  background: white;
  z-index: 15;
  color: #4d4d4d;
  border: 1px solid #C1C1C1;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 0 #535353, 2px 2px 0 #535353, 3px 3px 0 #535353, 4px 4px 0 #535353, 5px 5px 0 #535353;
  -moz-box-shadow: 1px 1px 0 #535353, 2px 2px 0 #535353, 3px 3px 0 #535353, 4px 4px 0 #535353, 5px 5px 0 #535353;
  box-shadow: 1px 1px 0 #535353, 2px 2px 0 #535353, 3px 3px 0 #535353, 4px 4px 0 #535353, 5px 5px 0 #535353;
  -webkit-transition: background 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: background 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition: background 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: background 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}
/* line 89, ../sass/partials/_timeline.scss */
.timeline-border .event.featured {
  width: 100%;
  text-align: center;
  background: #e8e8e8;
}
/* line 95, ../sass/partials/_timeline.scss */
.timeline-border .event.featured:after, .timeline-border .event.featured:before {
  display: none;
}
@media all and (max-width: 600px) {
  /* line 53, ../sass/partials/_timeline.scss */
  .timeline-border .event {
    width: 100%;
    margin: 0 0 1em 0;
  }
}
/* line 105, ../sass/partials/_timeline.scss */
.timeline-border .event.offset-first {
  margin-top: -1.5em;
}
/* line 109, ../sass/partials/_timeline.scss */
.timeline-border .event img {
  margin-top: 10px;
  max-width: 100%;
}
/* line 114, ../sass/partials/_timeline.scss */
.timeline-border .event:nth-child(2n) {
  float: left;
  clear: left;
}
/* line 119, ../sass/partials/_timeline.scss */
.timeline-border .event:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #333;
  display: block;
  left: -12.75%;
  top: 35px;
  position: absolute;
  border: 3px solid #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 132, ../sass/partials/_timeline.scss */
.timeline-border .event:nth-child(2n):before {
  right: -12.75%;
  /* reset the standard declaration I defined before*/
  left: auto;
  top: 65px;
}
@media all and (min-width: 650px) {
  /* line 138, ../sass/partials/_timeline.scss */
  .timeline-border .event:after {
    display: block;
    content: ' ';
    height: 1px;
    width: 9%;
    background: #333;
    position: absolute;
    left: -9%;
    top: 41px;
  }
}
/* line 152, ../sass/partials/_timeline.scss */
.timeline-border .event:nth-child(2n):after {
  right: -9%;
  /* reset the standard declaration I defined before*/
  left: auto;
  top: 71px;
  width: 7.5%;
}
/* line 161, ../sass/partials/_timeline.scss */
.timeline-border .bookend {
  font-size: 26px;
  font-weight: bold;
  color: #009933;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 615px) {
  /* line 161, ../sass/partials/_timeline.scss */
  .timeline-border .bookend {
    text-align: center;
    width: 100%;
  }
  /* line 171, ../sass/partials/_timeline.scss */
  .timeline-border .bookend span {
    display: block;
    background: #FFF;
  }
}
/* line 180, ../sass/partials/_timeline.scss */
.timeline-border .bookend-top {
  top: -.5em;
}
/* line 183, ../sass/partials/_timeline.scss */
.timeline-border .bookend-bottom {
  z-index: 10;
  bottom: -.5em;
  color: #FF0000;
}
@media all and (min-width: 616px) {
  /* line 191, ../sass/partials/_timeline.scss */
  .timeline-border .bookend {
    font-size: 26px;
    font-weight: bold;
    color: #009933;
    position: absolute;
    z-index: 100;
  }
  /* line 198, ../sass/partials/_timeline.scss */
  .timeline-border .bookend:after {
    content: "";
    width: 11px;
    height: 11px;
    background: #000;
    display: block;
    position: absolute;
    border-radius: 10px;
  }
  /* line 210, ../sass/partials/_timeline.scss */
  .timeline-border .bookend-top {
    top: -.5em;
    right: 52%;
  }
  /* line 213, ../sass/partials/_timeline.scss */
  .timeline-border .bookend-top:after {
    top: .25em;
    right: -15.15%;
  }
  /* line 218, ../sass/partials/_timeline.scss */
  .timeline-border .bookend-bottom {
    z-index: 10;
    bottom: -.5em;
    left: 52.35%;
    color: #FF0000;
  }
  /* line 223, ../sass/partials/_timeline.scss */
  .timeline-border .bookend-bottom:after {
    top: .25em;
    left: -15.15%;
  }
}
