/**
 * @file
 * RTL companion for the pages.css file.
 */
/**
 * Common CSS for full-width titles. Markup requires an inner span.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\000039}}
body {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\0000313}}
a {
  color: #0077A5;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\0000318}}
a:hover {
  text-decoration: underline;
}

/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/pages-rtl\.scss}line{font-family:\0000313}}
#logo {
  /* Wrapping link for logo */
  float: right;
}

/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/pages-rtl\.scss}line{font-family:\0000321}}
ul.inline li {
  /* List of links */
  display: inline-block;
  /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/pages-rtl\.scss}line{font-family:\0000325}}
span.field-label {
  /* The inline field label used by the Fences.module */
  padding: 0 0 0 1em;
}
