/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* Custom clearfix. I use this for extending */
/* line 79, ../sass/partials/_custom.scss */
#usermenu:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 10, ../sass/partials/_colors.scss */
#content p {
  color: #333333;
}

/* line 15, ../sass/partials/_colors.scss */
a {
  color: #0077A5;
}

/* line 12, ../sass/pages.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*
 * Body
 */
/* line 21, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #444;
}

/* line 27, ../sass/pages.scss */
#page {
  background: #fff;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 36, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 40, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 57, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  margin: 0;
  padding: 0;
}
/* line 62, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 67, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 71, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 77, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 83, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

/* line 88, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 93, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 114, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  display: none;
}
/* line 116, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 120, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 133, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 137, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 141, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 145, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 148, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 154, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 158, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 163, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 166, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 170, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 174, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 177, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 180, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 183, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 186, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 190, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 196, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 200, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 203, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 208, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 211, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 245, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/* Header  */
/* line 6, ../sass/partials/_header.scss */
#header {
  background: #e4e3ff url("../images/bg-header-sanfrancisco-v1.jpg") no-repeat bottom center;
  padding: 0;
  max-width: 100%;
}
@media all and (min-width: 1960px) {
  /* line 6, ../sass/partials/_header.scss */
  #header {
    background-size: 100%;
  }
}
/* line 14, ../sass/partials/_header.scss */
#header .header-innner {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 22, ../sass/partials/_header.scss */
#usermenu {
  background: #1c1c1c;
  color: #FFF;
}
/* line 33, ../sass/partials/_header.scss */
#usermenu #block-user-login .form-submit {
  border: none;
  background: #888;
  color: #fff;
  padding: .33em .5em;
}
/* line 41, ../sass/partials/_header.scss */
#usermenu label {
  display: none;
}
/* line 46, ../sass/partials/_header.scss */
#usermenu #block-user-login {
  width: 100%;
  float: none;
}
/* line 57, ../sass/partials/_header.scss */
#usermenu .item-list {
  display: none;
}
/* line 61, ../sass/partials/_header.scss */
#usermenu #edit-actions {
  margin: 0;
}

/* line 69, ../sass/partials/_header.scss */
.region-usermenu {
  max-width: 1200px;
  margin: auto;
}

/* line 77, ../sass/partials/_header.scss */
#user-login-form .first-name, #user-login-form .form-item-name, #user-login-form .form-item-pass-pass1 {
  float: none;
}

/* line 86, ../sass/partials/_header.scss */
#logo {
  display: inline-block;
}
/* line 89, ../sass/partials/_header.scss */
#logo img {
  max-width: 55px;
}
@media all and (min-width: 700px) {
  /* line 89, ../sass/partials/_header.scss */
  #logo img {
    max-width: 100px;
  }
}

/* line 100, ../sass/partials/_header.scss */
#logo-name-and-slogan h2 {
  font-weight: bold;
  color: #333;
}
@media all and (max-width: 700px) {
  /* line 99, ../sass/partials/_header.scss */
  #logo-name-and-slogan {
    margin: 0 10px;
  }
  /* line 110, ../sass/partials/_header.scss */
  #logo-name-and-slogan #logo {
    float: left;
    padding-right: 5px;
  }
  /* line 115, ../sass/partials/_header.scss */
  #logo-name-and-slogan h1 {
    letter-spacing: -1px;
    font-size: 2em;
    line-height: 1em;
  }
}
@media all and (min-width: 700px) {
  /* line 99, ../sass/partials/_header.scss */
  #logo-name-and-slogan {
    max-width: 50%;
    padding-right: 1em;
    float: left;
  }
  /* line 127, ../sass/partials/_header.scss */
  #logo-name-and-slogan #logo {
    float: left;
    min-height: 220px;
    margin-right: 1em;
  }
  /* line 137, ../sass/partials/_header.scss */
  #logo-name-and-slogan h1 {
    font-size: 4em;
    line-height: 1em;
    letter-spacing: -1px;
  }
  /* line 143, ../sass/partials/_header.scss */
  #logo-name-and-slogan h2 {
    margin-top: 1em;
    font-weight: normal;
    line-height: 1.33em;
    border: none;
  }
}

/* line 154, ../sass/partials/_header.scss */
#block-block-2 {
  width: 50%;
  float: left;
  margin: 5px 0 0 0;
}
/* line 158, ../sass/partials/_header.scss */
#block-block-2 .block-title {
  font-size: 1em;
  line-height: 30px;
  border-bottom: 0;
}
/* line 163, ../sass/partials/_header.scss */
#block-block-2 h2 {
  color: #000;
}
/* line 166, ../sass/partials/_header.scss */
#block-block-2 p {
  margin-top: 0;
  margin-bottom: 1em;
  color: #666;
}
@media all and (max-width: 700px) {
  /* line 166, ../sass/partials/_header.scss */
  #block-block-2 p {
    display: none;
  }
}

/* line 177, ../sass/partials/_header.scss */
#block-menu-block-1 {
  width: 50%;
  float: left;
  margin-bottom: 0;
}
/* line 181, ../sass/partials/_header.scss */
#block-menu-block-1 .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 185, ../sass/partials/_header.scss */
#block-menu-block-1 .menu li {
  width: 32%;
  margin-right: 5px;
  float: left;
  list-style: none;
}
/* line 191, ../sass/partials/_header.scss */
#block-menu-block-1 .menu a {
  background-image: url("../images/corner-arrow.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: rgba(110, 110, 110, 0.8);
  font-weight: bold;
  color: #f4f596;
  line-height: 42px;
  padding: 3px 0 0 10px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

/* line 6, ../sass/partials/_menu.scss */
#navigation {
  position: static;
  display: block;
  padding: .4em 0;
  margin: 1em 0;
}

/* line 13, ../sass/partials/_menu.scss */
#page {
  position: relative;
  -webkit-transition: -webkit-transform 300ms ease;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 23, ../sass/partials/_menu.scss */
#navigation .block-menu-block h2,
#navigation .block-menu-block a {
  font-size: 1.25em;
  line-height: 1.5em;
}
/* line 28, ../sass/partials/_menu.scss */
#navigation .block-menu-block h2 {
  text-transform: uppercase;
  float: left;
  border: none;
}
/* line 35, ../sass/partials/_menu.scss */
#navigation .block-menu-block h2,
#navigation .block-menu-block .menu-block-wrapper {
  display: inline-block;
}
/* line 41, ../sass/partials/_menu.scss */
#navigation .block-menu-block a:link {
  text-decoration: none;
}

@media all and (max-width: 820px) {
  /* line 52, ../sass/partials/_menu.scss */
  #mobile-nav-button,
  #navigation h2,
  #navigation ul {
    padding: .15em;
  }

  /* line 56, ../sass/partials/_menu.scss */
  #mobile-nav-button {
    position: absolute;
    left: 0;
    font-size: 2em;
    background: #26a6df;
    width: 1.2em;
    height: 40px;
    text-align: center;
  }

  /* line 66, ../sass/partials/_menu.scss */
  #navigation {
    margin: 0 0 1em 0;
    background: #1c1c1c;
    padding: 0;
    height: 40px;
  }
  /* line 72, ../sass/partials/_menu.scss */
  #navigation h2 {
    margin-left: 2em;
    margin-top: 3px;
    color: #fff;
  }
  /* line 78, ../sass/partials/_menu.scss */
  #navigation ul.menu {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    margin: 0;
  }
  /* line 87, ../sass/partials/_menu.scss */
  #navigation li {
    display: block;
    float: none;
  }
  /* line 93, ../sass/partials/_menu.scss */
  #navigation li.last {
    border: 0;
  }
  /* line 98, ../sass/partials/_menu.scss */
  #navigation a {
    display: block;
    padding: .5em 1em;
    color: #fff;
  }
  /* line 103, ../sass/partials/_menu.scss */
  #navigation a:hover {
    text-decoration: none;
    background: #1c1c1c;
  }
  /* line 108, ../sass/partials/_menu.scss */
  #navigation a:before {
    content: "-";
    float: right;
  }

  /* mobile menu transitions */
  /* line 117, ../sass/partials/_menu.scss */
  #mobile-nav-button.open {
    background: #d00;
  }

  /* line 121, ../sass/partials/_menu.scss */
  #page.open {
    -webkit-transform: translate3d(250px, 0, 0);
  }
}
@media all and (min-width: 820px) {
  /* line 132, ../sass/partials/_menu.scss */
  #mobile-nav-button {
    display: none;
  }

  /* line 136, ../sass/partials/_menu.scss */
  #navigation {
    border-top: 5px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
  }
  /* line 140, ../sass/partials/_menu.scss */
  #navigation h2 {
    color: #1c1c1c;
  }
  /* line 145, ../sass/partials/_menu.scss */
  #navigation ul.menu li {
    float: left;
  }
  /* line 152, ../sass/partials/_menu.scss */
  #navigation h2:after,
  #navigation li:after {
    content: "/";
    display: inline-block;
    width: 2em;
    text-align: center;
    font-weight: normal;
  }
  /* line 160, ../sass/partials/_menu.scss */
  #navigation li.last:after {
    content: "";
  }
  /* line 164, ../sass/partials/_menu.scss */
  #navigation a {
    color: #1c1c1c;
  }
  /* line 167, ../sass/partials/_menu.scss */
  #navigation a:hover {
    text-decoration: underline;
  }
}
/* line 5, ../sass/partials/_panels.scss */
#page {
  overflow: hidden;
}

/* line 11, ../sass/partials/_panels.scss */
#block-views-sponsors-block-1 h2 {
  margin-left: -50%;
  padding-left: 50%;
  margin-right: -50%;
  padding-right: 50%;
  color: #fff;
  background-color: #aaa;
  font-size: 1.17em;
}

/* line 25, ../sass/partials/_panels.scss */
.front #main {
  background: #1c1c1c;
  color: #fff;
}

/* line 32, ../sass/partials/_panels.scss */
#main {
  background: #fff;
  color: #555;
  padding-top: 0;
}

/* line 38, ../sass/partials/_panels.scss */
h2 {
  color: #26a6df;
  border-bottom: 1px solid #bbb;
}

/* 
  Speakers, attendees etc. 
  
*/
/* line 50, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list .attendee-display-name, .views_slideshow_liquidcarousel_main .liquid .speaker-name {
  font-size: 1em;
  border-bottom: 1px solid #797878;
  padding-bottom: 6px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 62, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list ul, .view-id-attendees .view-content .item-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 68, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list ul li {
  border-bottom: 1px solid #999;
  float: left;
  height: 325px;
  margin-bottom: 20px;
  width: 50%;
}
/* line 75, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list ul li img {
  width: 100%;
  height: auto;
  max-height: 210px;
  max-width: 210px;
}
/* line 83, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list .attendee {
  padding-right: 10px;
}
/* line 87, ../sass/partials/_panels.scss */
.view-id-attendees .view-content .item-list .attendee-photo a {
  display: block;
  line-height: 0;
  margin-bottom: 10px;
}
@media all and (max-width: 500px) {
  /* line 98, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list li:nth-child(2n+2) .attendee {
    padding-right: 0;
  }
}
@media all and (min-width: 501px) and (max-width: 759px) {
  /* line 105, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list ul li {
    width: 33%;
  }
  /* line 108, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list li:nth-child(3n+3) .attendee {
    padding-right: 0;
  }
}
@media all and (min-width: 760px) {
  /* line 115, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list ul li {
    width: 20%;
  }
  /* line 118, ../sass/partials/_panels.scss */
  .view-id-attendees .view-content .item-list li:nth-child(5n+5) .attendee {
    padding-right: 0;
  }
}

/* responsive Slider ( mainly the one found on home page ) */
/* line 140, ../sass/partials/_panels.scss */
.views_slideshow_liquidcarousel_main .liquid .wrapper ul li {
  min-height: 325px;
}
/* line 152, ../sass/partials/_panels.scss */
.views_slideshow_liquidcarousel_main .previous,
.views_slideshow_liquidcarousel_main .next {
  height: 207px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 37px;
}
/* line 160, ../sass/partials/_panels.scss */
.views_slideshow_liquidcarousel_main .previous {
  background: #333333 url("../images/arrow-left.png") no-repeat center center;
}
/* line 164, ../sass/partials/_panels.scss */
.views_slideshow_liquidcarousel_main .next {
  background: #333333 url("../images/arrow-right.png") no-repeat center center;
}

/* line 169, ../sass/partials/_panels.scss */
h2 {
  color: #26a6df;
  border-bottom: 1px solid #555;
}

/* line 174, ../sass/partials/_panels.scss */
#page-title {
  margin-left: -50%;
  padding-left: 50%;
  margin-right: -50%;
  padding-right: 50%;
  color: #fff;
  background-color: #313337;
  font-size: 1.8em;
  margin-bottom: 40px;
}

@media all and (max-width: 700px) {
  /* line 189, ../sass/partials/_panels.scss */
  .signup .field-name-field-first-name,
  .signup .form-item-name,
  .signup .form-item-pass-pass1 {
    float: none;
  }

  /* line 195, ../sass/partials/_panels.scss */
  .signup .field-name-field-last-name,
  .signup .form-item-mail,
  .signup .form-item-pass-pass2 {
    float: none;
  }

  /* line 199, ../sass/partials/_panels.scss */
  .signup #user-register-form .form-item {
    width: 20em;
  }

  /* line 208, ../sass/partials/_panels.scss */
  .signup #user-register-form input.username,
  .signup #user-register-form input#edit-mail,
  .signup #user-register-form input.password-field,
  .signup #user-register-form input.password-confirm,
  .signup #user-register-form input#edit-field-first-name-und-0-value,
  .signup #user-register-form input#edit-field-last-name-und-0-value {
    width: 20em;
  }

  /* line 211, ../sass/partials/_panels.scss */
  .pane-user-signup, .registration-steps, .signup .messages {
    margin-left: 5%;
    margin-right: 5%;
  }

  /* line 216, ../sass/partials/_panels.scss */
  .signup #user-register-form .form-submit {
    float: none;
    clear: both;
  }

  /* line 222, ../sass/partials/_panels.scss */
  .signup .field-name-field-interest-jobs,
  .signup .field-name-field-interest-volunteering {
    float: none;
    margin-right: 0;
    margin-top: 0;
  }

  /* line 228, ../sass/partials/_panels.scss */
  .registration-steps .registration.two {
    margin: 0 22%;
  }

  /* line 232, ../sass/partials/_panels.scss */
  .registration-steps {
    background: none;
  }
}
/* line 240, ../sass/partials/_panels.scss */
#sponsors-page .panel-pane {
  clear: both;
}
/* line 244, ../sass/partials/_panels.scss */
#sponsors-page .view-sponsors {
  clear: both;
}
/* line 247, ../sass/partials/_panels.scss */
#sponsors-page .view-sponsors .views-row {
  float: left;
  margin: 10px;
}
/* line 251, ../sass/partials/_panels.scss */
#sponsors-page .view-sponsors .views-row .views-field-title {
  text-align: center;
}
/* line 254, ../sass/partials/_panels.scss */
#sponsors-page .view-sponsors .views-row .views-field-title a {
  color: #000;
  text-decoration: none;
}

/* line 265, ../sass/partials/_panels.scss */
.region-footer .views-field-title {
  margin: 1.5em 1em 0 1em;
  border-bottom: 1px solid #000;
}
/* line 268, ../sass/partials/_panels.scss */
.region-footer .views-field-title a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
/* line 275, ../sass/partials/_panels.scss */
.region-footer img {
  padding: 0 1em 1em 1em;
}
/* line 279, ../sass/partials/_panels.scss */
.region-footer h2 {
  border: none;
}
@media all and (max-width: 700px) {
  /* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer .view-id-sponsors:before, .region-footer .view-id-sponsors:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer .view-id-sponsors:after {
    clear: both;
  }
  /* line 289, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .views-row-1 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 293, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .views-row-2 {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 297, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .views-row-3 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 302, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .views-row-4 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media all and (min-width: 700px) {
  /* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer .view-id-sponsors:before, .region-footer .view-id-sponsors:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .region-footer .view-id-sponsors:after {
    clear: both;
  }
  /* line 314, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .views-row-1 {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 318, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .views-row-2 {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-right: -50%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 322, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .views-row-3 {
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -75%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 326, ../sass/partials/_panels.scss */
  .region-footer .view-id-sponsors .view-row-4 {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

/* line 6, ../sass/partials/_homepage.scss */
.front {
  /* Highlighst and Facts panes */
  /* Featured Attendees pane */
  /* Events at a glance pane */
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.front #content:before, .front #content:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.front #content:after {
  clear: both;
}
/* line 13, ../sass/partials/_homepage.scss */
.front #content p {
  color: #ccc;
}
/* line 23, ../sass/partials/_homepage.scss */
.front .pane-facts .pane-content > div {
  float: left;
  width: 33%;
  padding-right: 1em;
  height: 150px;
  overflow: hidden;
}
/* line 31, ../sass/partials/_homepage.scss */
.front .pane-facts h3 {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
}
@media all and (max-width: 600px) {
  /* line 31, ../sass/partials/_homepage.scss */
  .front .pane-facts h3 {
    font-size: 2em;
  }
}
/* line 42, ../sass/partials/_homepage.scss */
.front .pane-facts p {
  font-size: .85em;
  margin: 0;
  min-height: 100px;
}
@media all and (min-width: 900px) {
  /* line 52, ../sass/partials/_homepage.scss */
  .front .pane-highlights {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-right: 10px;
  }
  /* line 57, ../sass/partials/_homepage.scss */
  .front .pane-facts {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 10px;
  }
  /* line 62, ../sass/partials/_homepage.scss */
  .front .pane-speakers-panel-pane-1 {
    clear: left;
  }
}
/* line 72, ../sass/partials/_homepage.scss */
.front .view-id-speakers .views-row {
  float: left;
}
/* line 86, ../sass/partials/_homepage.scss */
.front .pane-events {
  clear: both;
}
/* line 90, ../sass/partials/_homepage.scss */
.front .pane-events ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media all and (min-width: 700px) {
  /* line 94, ../sass/partials/_homepage.scss */
  .front .pane-events ul li {
    width: 33%;
    float: left;
    min-height: 225px;
    padding-right: 1em;
  }
}
