/**
 * @file
 * RTL companion for the tabs.css file.
 */
/* line 6, ../sass/partials/_header.scss */
#logo img {
  max-width: 100px;
}

/* line 7, ../sass/partials/_menu.scss */
.admin-menu #navigation {
  margin-top: 20px;
}

/* line 11, ../sass/tabs-rtl.scss */
ul.primary li,
ul.secondary li {
  float: right;
}

/* line 17, ../sass/tabs-rtl.scss */
ul.primary li {
  margin: 0.5em 3px 0 0;
}
