/**
 * @file
 * RTL companion for the tabs.css file.
 */
/* 
  This is used to pull the restricted width elements out to be more full width.
 */
/* line 9, ../sass/partials/_colors.scss */
body {
  color: #333333;
}

/* line 13, ../sass/partials/_colors.scss */
a {
  color: #0077A5;
  text-decoration: none;
}

/* line 18, ../sass/partials/_colors.scss */
a:hover {
  text-decoration: underline;
}

/* line 11, ../sass/tabs-rtl.scss */
ul.primary li,
ul.secondary li {
  float: right;
}

/* line 17, ../sass/tabs-rtl.scss */
ul.primary li {
  margin: 0.5em 3px 0 0;
}
