/**
 * @file
 * Views Styling
 */
/**
 * Common CSS for full-width titles. Markup requires an inner span.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\000039}}
body {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\0000313}}
a {
  color: #0077A5;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\0000318}}
a:hover {
  text-decoration: underline;
}

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000318}}
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000324}}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000329}}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000331}}
.views-displays .secondary .open > a:hover {
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000336}}
.views-displays .secondary .action-list li {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000338}}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000341}}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000349}}
.bootstrap-table caption {
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  border-bottom: solid 1px black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000355}}
.bootstrap-table table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000361}}
.bootstrap-table .table {
  width: 100%;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000366}}
.bootstrap-table .table th,
.bootstrap-table .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000373}}
.bootstrap-table .table th {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000376}}
.bootstrap-table .table thead th {
  vertical-align: bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000384}}
.bootstrap-table .table caption + thead tr:first-child th,
.bootstrap-table .table caption + thead tr:first-child td,
.bootstrap-table .table colgroup + thead tr:first-child th,
.bootstrap-table .table colgroup + thead tr:first-child td,
.bootstrap-table .table thead:first-child tr:first-child th,
.bootstrap-table .table thead:first-child tr:first-child td {
  border-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000387}}
.bootstrap-table .table tbody + tbody {
  border-top: 2px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000390}}
.bootstrap-table .table .table {
  background-color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000394}}
.bootstrap-table .table-condensed th,
.bootstrap-table .table-condensed td {
  padding: 4px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\0000397}}
.bootstrap-table .table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003107}}
.bootstrap-table .table-bordered th,
.bootstrap-table .table-bordered td {
  border-left: 1px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003118}}
.bootstrap-table .table-bordered caption + thead tr:first-child th,
.bootstrap-table .table-bordered caption + tbody tr:first-child th,
.bootstrap-table .table-bordered caption + tbody tr:first-child td,
.bootstrap-table .table-bordered colgroup + thead tr:first-child th,
.bootstrap-table .table-bordered colgroup + tbody tr:first-child th,
.bootstrap-table .table-bordered colgroup + tbody tr:first-child td,
.bootstrap-table .table-bordered thead:first-child tr:first-child th,
.bootstrap-table .table-bordered tbody:first-child tr:first-child th,
.bootstrap-table .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003123}}
.bootstrap-table .table-bordered thead:first-child tr:first-child > th:first-child,
.bootstrap-table .table-bordered tbody:first-child tr:first-child > td:first-child,
.bootstrap-table .table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003130}}
.bootstrap-table .table-bordered thead:first-child tr:first-child > th:last-child,
.bootstrap-table .table-bordered tbody:first-child tr:first-child > td:last-child,
.bootstrap-table .table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003139}}
.bootstrap-table .table-bordered thead:last-child tr:last-child > th:first-child,
.bootstrap-table .table-bordered tbody:last-child tr:last-child > td:first-child,
.bootstrap-table .table-bordered tbody:last-child tr:last-child > th:first-child,
.bootstrap-table .table-bordered tfoot:last-child tr:last-child > td:first-child,
.bootstrap-table .table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003148}}
.bootstrap-table .table-bordered thead:last-child tr:last-child > th:last-child,
.bootstrap-table .table-bordered tbody:last-child tr:last-child > td:last-child,
.bootstrap-table .table-bordered tbody:last-child tr:last-child > th:last-child,
.bootstrap-table .table-bordered tfoot:last-child tr:last-child > td:last-child,
.bootstrap-table .table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003153}}
.bootstrap-table .table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003158}}
.bootstrap-table .table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003166}}
.bootstrap-table .table-bordered caption + thead tr:first-child th:first-child,
.bootstrap-table .table-bordered caption + tbody tr:first-child td:first-child,
.bootstrap-table .table-bordered colgroup + thead tr:first-child th:first-child,
.bootstrap-table .table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003174}}
.bootstrap-table .table-bordered caption + thead tr:first-child th:last-child,
.bootstrap-table .table-bordered caption + tbody tr:first-child td:last-child,
.bootstrap-table .table-bordered colgroup + thead tr:first-child th:last-child,
.bootstrap-table .table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003180}}
.bootstrap-table .table-striped tbody > tr:nth-child(odd) > td,
.bootstrap-table .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003184}}
.bootstrap-table .table-hover tbody tr:hover > td,
.bootstrap-table .table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003190}}
.bootstrap-table table td[class*="span"],
.bootstrap-table table th[class*="span"],
.bootstrap-table .row-fluid table td[class*="span"],
.bootstrap-table .row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003196}}
.bootstrap-table .table td.span1,
.bootstrap-table .table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003202}}
.bootstrap-table .table td.span2,
.bootstrap-table .table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003208}}
.bootstrap-table .table td.span3,
.bootstrap-table .table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003214}}
.bootstrap-table .table td.span4,
.bootstrap-table .table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003220}}
.bootstrap-table .table td.span5,
.bootstrap-table .table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003226}}
.bootstrap-table .table td.span6,
.bootstrap-table .table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003232}}
.bootstrap-table .table td.span7,
.bootstrap-table .table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003238}}
.bootstrap-table .table td.span8,
.bootstrap-table .table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003244}}
.bootstrap-table .table td.span9,
.bootstrap-table .table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003250}}
.bootstrap-table .table td.span10,
.bootstrap-table .table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003256}}
.bootstrap-table .table td.span11,
.bootstrap-table .table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003262}}
.bootstrap-table .table td.span12,
.bootstrap-table .table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003267}}
.bootstrap-table .table tbody tr.success > td {
  background-color: #dff0d8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003270}}
.bootstrap-table .table tbody tr.error > td {
  background-color: #f2dede;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003273}}
.bootstrap-table .table tbody tr.warning > td {
  background-color: #fcf8e3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003276}}
.bootstrap-table .table tbody tr.info > td {
  background-color: #d9edf7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003279}}
.bootstrap-table .table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003282}}
.bootstrap-table .table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003285}}
.bootstrap-table .table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nate\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/views-styles\.scss}line{font-family:\00003288}}
.bootstrap-table .table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}
/*Carson's schedule stuff */
.view-session-schedule .item-list h3 {
    color: #999;
    float: left;
    margin: 0;
    text-align: right;
    width: 15%;
    zoom: 1;
    font-size: 12px;
    padding-right: 1%;
}
.view-session-schedule .view-grouping-header {
    line-height: 35px;
    font-weight: bold;
    float: left;
    clear: left;
    width: 99%;
}
.view-session-schedule .view-grouping-content {
    float: left;
    clear: both;
    width: 100%;
}
.view-session-schedule .item-list {
    margin-top: 20px;
    float: left;
    clear: left;
    width: 100%;
}
.view-session-schedule .item-list ul {
    border-left: 2px solid rgba(0,0,0,.15);
    margin: 0;
    padding-left: 1%;
    float: left;
    width: 85%;
    display: block;
}
.view-session-schedule .item-list ul li {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: block;
    margin: 0 12px 12px 0;
    padding: 2px 5px;
    position: relative;
    min-height: 10px;
    clear: none;
}
.view-id-session_schedule ul li {
    border-bottom: none;
}
.view-id-session_schedule ul li .views-field-title {
    font-weight: normal;
}
.view-session-schedule .item-list ul li a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 15px;
}
.view-session-schedule .item-list ul li a:hover {
    text-decoration: underline;
}
.view-session-schedule .item-list ul li.design-theme-ux {
    background-color: #E1F073;
}
.view-session-schedule .item-list ul li.business-community {
    background-color: #E2BDE0;
}
.view-session-schedule .item-list ul li.code-develop {
    background-color: #F3A88F;
}
.view-session-schedule .item-list ul li.devops-performance {
    background-color: #A1D5B4;
}
.view-session-schedule .item-list ul li.sitebuilding-usingdrupal {
    background-color: #77B1CF;
}
.views-widget-filter-field_track_tid #edit-field-track-tid-all {
    width: 100%;
    text-align: center;
}
.views-widget-filter-field_skill_level_tid select {
    border: none;
    padding-left: 30px;
    padding-top: 5px;
}
