/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
/**
 * Common CSS for full-width titles. Markup requires an inner span.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\000039}}
body {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\0000313}}
a {
  color: #0077A5;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/partials\/_colors\.scss}line{font-family:\0000318}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/steven\/Sites\/badcamp2013\/sites\/all\/themes\/campsite\/sass\/wireframes\.scss}line{font-family:\0000319}}
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer .content,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
